@{
    ViewBag.Title = "Dostavka";
}



<div id="cms-page">
    <div class="cms-inside">
        <h1>Условия доставки</h1>
        <div id="content" class="rework2">
            <div id="ctl00_PlaceHolderMain_EditModePanel2">
                <p>Специальноее предложение: заказы на сумму от 3 500 рублей доставляем совершенно бесплатно в Москве и Московской области, Санкт-Петербурге и Ленинградской области.</p>
                <p>Условия и стоимость доставки:</p>
                •&nbsp;<a href="/delivery-conditions-ru#1">Доставка в Москве</a><br><br>•&nbsp;<a href="/delivery-conditions-ru#2">Доставка по Московской области</a><br><br>•&nbsp;<a href="/delivery-conditions-ru#3">Доставка в Санкт-Петербурге</a><br><br>•&nbsp;<a href="/delivery-conditions-ru#4">Доставка в Ленинградской области</a><br><br>•&nbsp;<a href="/delivery-conditions-ru#5">Доставка по России</a><br><br><hr>
                <div>&nbsp;</div>
                <h2><a name="1" href="#1">Доставка в Москве</a></h2>
                <p><span style="font-size: 12px;">Включает районы Балашиха, Видное, Железнодорожный, Зеленоград, Королев, Красногорск, Люберцы, Мытищи, Одинцово, Реутов, Солнцево, Химки, Щербинка</span></p>
                <table id="myFancyTable" style="height: 115px; width: 931px; border: 1px solid #647270;" frame="border">
                    <tbody>
                        <tr align="left">
                            <td rowspan="2" align="left"><strong>Спос</strong><strong>об доста</strong><strong>вки</strong></td>
                            <td colspan="2" align="left"><strong>Стоимость доставки (руб.)</strong></td>
                            <td rowspan="2" align="left"><strong>Сроки доставки *</strong><strong><br></strong></td>
                        </tr>
                        <tr align="left">
                            <td align="left"><strong>до 3500 руб</strong></td>
                            <td align="left"><strong>от 3500 руб</strong></td>
                        </tr>
                        <tr align="left">
                            <td rowspan="2" align="left">Курьерская доставка</td>
                            <td rowspan="2" align="left"><strong>250</strong></td>
                            <td rowspan="2" align="left"><strong>Бесплатно</strong></td>
                            <td align="left"><strong>24 часа </strong>(при условии размещения&nbsp;и&nbsp;подтверждения&nbsp;заказа до 16.00)<strong><br></strong></td>
                        </tr>
                        <tr align="left">
                            <td align="left"><strong>48 часов </strong>(при условии размещения&nbsp;и&nbsp;подтверждения&nbsp;заказа&nbsp;после 16.00)<strong><strong><br></strong></strong></td>
                        </tr>
                    </tbody>
                </table>
                <p>*Доставка осуществляется курьерской службой СПСР в течение 1-2 дней с момента подтверждения заказа оператором по телефону<br>В воскресенье комплектация и доставка заказов не осуществляется, соответственно, доставка заказов, размещенных и подтвержденных с пятницы после 16.00 по воскресенье,&nbsp;осуществляется&nbsp;во вторник<br>В случае проведения акции на сайте звонок оператора может быть заменен СМС-уведомлением, а сроки доставки могут увеличиться.&nbsp;</p>
                <p>Оператор курьерской службы свяжется с Вами для согласования даты и времени доставки по телефону, указанному при оформлении заказа. Звонок оператора осуществляется в течение 3 часов после оформления заказа (при условии размещения заказа на сайте до 16:00) или на следующий день (при условии размещения заказа на сайте после 16:00).<br><br>Если после размещения заказа с Вами не связались в сроки, указанные выше, просьба уточнить статус заказа по телефону 8-800-200-8-100 (звонок по России бесплатный).</p>
                <p>Вы также можете воспользоваться&nbsp;услугой самовывоза</p>
                <table style="height: 106px; width: 944px; border: 1px solid #647270;" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="border: 1px solid #647270; width: 168px; text-align: center;" rowspan="2" valign="top"><strong>Пункт самовывоза</strong></td>
                            <td style="border: 1px solid #647270; width: 168px; text-align: center;" colspan="2" valign="top"><strong>Стоимость доставки до пункта самовывоза (руб.)</strong></td>
                            <td style="border: 1px solid #647270; width: 168px; text-align: center;" rowspan="2" valign="top"><strong>Часы работы пункта</strong></td>
                            <td style="border: 1px solid #647270; width: 168px; text-align: center;" rowspan="2" valign="top"><strong>Контактный телефон</strong></td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #647270; width: 168px; text-align: center;" valign="top">до 3500 руб</td>
                            <td style="border: 1px solid #647270; width: 168px; text-align: center;" valign="top">от 3500 руб</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">Олимпийский пр-т дом 30, стр.1</td>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">250</td>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">Бесплатно&nbsp;</td>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">Пн-Пт&nbsp; 08:00 до 20:00<br> Сб 08:00 до 19:00</td>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">8-800-555-54-45,<br>(495) 981-10-10</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">Волгоградский проспект, дом 42, корпус 23</td>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">250</td>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">Бесплатно</td>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">Пн-Пт&nbsp;08:00 до 20:00, <br>Сб 08:00 до 19:00</td>
                            <td style="border: 1px solid #647270; width: 168px;" valign="top">8-800-555-54-45,<br>(495) 981-10-10,<br>(495)980-10-90</td>
                        </tr>
                    </tbody>
                </table>
                <p>Подробную информацию о самовывозе Вы можете уточнить по телефону&nbsp;&nbsp;8-800-200-8-100 (звонок по России бесплатный).</p>
                <p>Обратите внимание: заказ не может быть доставлен, если не указан контактный телефон или указан неправильный номер.</p>
                <hr>
                <h2><a name="2" href="#2">Доставка по Московской области</a></h2>
                <p>Включает районы Балашиха, Видное, Железнодорожный, Зеленоград, Королев, Красногорск, Люберцы, Мытищи, Одинцово, Реутов, Солнцево, Химки, Щербинка</p>
                <table id="myFancyTable" style="height: 65px; border: 1px solid #647270; width: 925px;">
                    <tbody>
                        <tr>
                            <td rowspan="2"><strong>Способ доставки</strong></td>
                            <td colspan="2"><strong>Стоимость доставки (руб.)</strong></td>
                            <td rowspan="2"><strong>Сроки доставки&nbsp;</strong></td>
                        </tr>
                        <tr>
                            <td><strong>до 3500 руб</strong></td>
                            <td>
                                <strong>

                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Курьерская доставка</td>
                            <td><strong>250</strong></td>
                            <td><strong>Бесплатно</strong></td>
                            <td><strong>2 - 3 дня *&nbsp;</strong><strong><br></strong></td>
                        </tr>
                    </tbody>
                </table>
                <p><br>*Доставка осуществляется курьерской службой СПСР в течение 2 - 3 дней с момента подтверждения заказа оператором по телефону<br>В выходные комплектация и доставка заказов не осуществляется, соответственно:<br>- доставка заказов, размещенных и подтвержденных со среды после 16.00 по пятницу до 16.00, осуществляется в понедельник<br>- доставка&nbsp;заказов, размещенных и подтвержденных с пятницы после 16.00 по воскресенье, осуществляется в среду<br>В случае проведения акции на сайте звонок оператора может быть заменен СМС-уведомлением, а сроки доставки могут увеличиться.&nbsp;</p>
                <p>Оператор курьерской службы свяжется с Вами для согласования даты и времени доставки по телефону, указанному при оформлении заказа. Звонок оператора осуществляется в течение 3 часов после оформления заказа (при условии размещения заказа на сайте до 16:00) или на следующий день (при условии размещения заказа на сайте после 16:00).<br><br>Если после размещения заказа с Вами не связались в сроки, указанные выше, просьба уточнить статус заказа по телефону 8-800-200-8-100 (звонок по России бесплатный).<br><br>Обратите внимание: заказ не может быть доставлен, если не указан контактный телефон или указан неправильный номер.</p>
                <hr>
                <h2><a name="3" href="#3">Доставка в Санкт-Петербурге</a></h2>
            </div>
            <div>
                <br>
                <table id="myFancyTable" style="height: 65px; border: 1px solid #3f4445; width: 931px;">
                    <tbody>
                        <tr>
                            <td rowspan="2"><strong>Способ доставки</strong></td>
                            <td colspan="2"><strong>Стоимость доставки (руб.)</strong></td>
                            <td rowspan="2"><strong>Сроки доставки&nbsp;</strong></td>
                        </tr>
                        <tr>
                            <td><strong>до 3500 руб</strong></td>
                            <td><strong>от 3500 руб</strong></td>
                        </tr>
                        <tr>
                            <td>Курьерская доставка</td>
                            <td><strong>250</strong></td>
                            <td><strong>Бесплатно</strong></td>
                            <td><strong>2 - 3 дня *</strong></td>
                        </tr>
                    </tbody>
                </table>
                <p><br>*Доставка осуществляется курьерской службой СПСР в течение 2 - 3 дней с момента подтверждения заказа оператором по телефону<br>В выходные комплектация и доставка заказов не осуществляется, соответственно:<br>- доставка заказов, размещенных и подтвержденных со среды после 16.00 по пятницу до 16.00, осуществляется в понедельник<br>- доставка&nbsp;заказов, размещенных и подтвержденных с пятницы после 16.00 по воскресенье, осуществляется в среду<br>В случае проведения акции на сайте звонок оператора может быть заменен СМС-уведомлением, а сроки доставки могут увеличиться.&nbsp;<br><br>Оператор курьерской службы свяжется с Вами для согласования даты и времени доставки по телефону, указанному при оформлении заказа. Звонок оператора осуществляется в течение 3 часов после оформления заказа (при условии размещения заказа на сайте до 16:00) или на следующий день (при условии размещения заказа на сайте после 16:00.<br><br>Если после размещения заказа с Вами не связались в сроки, указанные выше, просьба уточнить статус заказа по телефону 8-800-200-8-100 (звонок по России бесплатный).</p>
                <p>Вы также можете воспользоваться&nbsp;услугой самовывоза</p>
                <table style="height: 122px; width: 933px;" border="1" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="text-align: center;" rowspan="2" valign="top" width="169"><strong>Пункт самовывоза</strong></td>
                            <td style="text-align: center;" colspan="2" valign="top" width="169"><strong>Стоимость доставки до пункта самовывоза (руб.)</strong></td>
                            <td style="text-align: center;" rowspan="2" valign="top" width="179"><strong>Часы работы пункта</strong></td>
                            <td style="text-align: center;" rowspan="2" valign="top" width="169"><strong>Контактный телефон</strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" valign="top" width="169">до 3500 руб</td>
                            <td style="text-align: center;" valign="top" width="169">от 3500 руб</td>
                        </tr>
                        <tr>
                            <td valign="top" width="169">Литейный, 60 (Пн-Сб)</td>
                            <td valign="top" width="169">250</td>
                            <td valign="top" width="169">Бесплатно</td>
                            <td valign="top" width="179">Пн-Пт - 9:00 -17:30<br>Сб 11:00-16:00</td>
                            <td valign="top" width="169">(812) 320-04-33,<br>777-88-99</td>
                        </tr>
                        <tr>
                            <td valign="top" width="169">Промзона Парнас,<br>2-й Верхний пр,д. 10</td>
                            <td valign="top" width="169">250</td>
                            <td valign="top" width="169">Бесплатно</td>
                            <td valign="top" width="179">Пн-Пт&nbsp; 09:00 до 17:30</td>
                            <td valign="top" width="169">(812) 320-04-33,<br>777-88-99</td>
                        </tr>
                        <tr>
                            <td valign="top" width="169">Шателена д.3</td>
                            <td valign="top" width="169">250</td>
                            <td valign="top" width="169">Бесплатно</td>
                            <td valign="top" width="179">Пн-пт&nbsp; 09:00 до 17:30<br>Сб 11:00 до 16:00</td>
                            <td valign="top" width="169">(812) 320-04-33,<br>777-88-100</td>
                        </tr>
                    </tbody>
                </table>
                <p>Подробную информацию о самовывозе Вы можете уточнить по телефону&nbsp;&nbsp;8-800-200-8-100 (звонок по России бесплатный).</p>
                <p>Обратите внимание: заказ не может быть доставлен, если не указан контактный телефон или указан неправильный номер.</p>
                <hr><br>
                <h2><a name="4" href="#4">Доставка в Ленинградскую область</a></h2>
                <p><strong style="color: #c30008;">&nbsp;</strong></p>
                <table id="myFancyTable" style="height: 65px; border: 1px solid #595d5e; width: 931px;">
                    <tbody>
                        <tr>
                            <td rowspan="2"><strong>Способ доставки</strong></td>
                            <td colspan="2"><strong>Стоимость доставки (руб.)</strong></td>
                            <td rowspan="2"><strong>Сроки доставки&nbsp;</strong></td>
                        </tr>
                        <tr>
                            <td><strong>до 3500 руб</strong></td>
                            <td><strong>от 3500 руб</strong></td>
                        </tr>
                        <tr>
                            <td>Курьерская доставка</td>
                            <td><strong>250</strong></td>
                            <td><strong>Бесплатно</strong></td>
                            <td><strong>3 - 4 дня *</strong></td>
                        </tr>
                    </tbody>
                </table>
                <p><br>*Доставка осуществляется курьерской службой СПСР в течение 3-4 дней с момента подтверждения заказа оператором по телефону<br>В выходные комплектация и доставка заказов не осуществляется, соответственно:&nbsp;<br>- доставка заказов, размещенных и подтвержденных со среды после 16.00 по пятницу до 16.00, осуществляется во вторник<br>- доставка&nbsp;заказов, размещенных и подтвержденных с пятницы после 16.00 по воскресенье, осуществляется в четверг<br>В случае проведения акции на сайте звонок оператора может быть заменен СМС-уведомлением, а сроки доставки могут увеличиться.<br><br>Оператор курьерской службы свяжется с Вами для согласования даты и времени доставки по телефону, указанному при оформлении заказа. Звонок оператора осуществляется в течение 3 часов после оформления заказа (при условии размещения заказа на сайте до 16:00) или на следующий день (при условии размещения заказа на сайте после 16:00.<br><br>Если после размещения заказа с Вами не связались в сроки, указанные выше, просьба уточнить статус заказа по телефону 8-800-200-8-100 (звонок по России бесплатный).<br><br>Обратите внимание: заказ не может быть доставлен, если не указан контактный телефон или указан неправильный номер.</p>
                <hr><br>
                <h2><a name="5" href="#5">Доставка по России</a></h2>
                <p>Доставка осуществляется курьерской службой СПСР. Сроки доставки составляют от 2 до 7 дней (в областные центры) c момента размещения заказа на сайте и зависят от Зоны доставки*</p>
                <p>В случае проведения акции на сайте звонок оператора может быть заменен СМС-уведомлением, а сроки доставки могут увеличиться</p>
                <p>Представитель Курьерской службы свяжется с Вами по телефону, указанному при оформлении заказа, чтобы согласовать дату и время доставки посылки.</p>
                <br>
                <table id="myFancyTable2">
                    <tbody>
                        <tr>
                            <td colspan="3">ЗОНА</td>
                            <td>Срок доставки</td>
                            <td>Стоимость доставки (руб.)</td>
                        </tr>
                        <tr>
                            <td colspan="4"><strong>1 зона</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>БЕЛГОРОД</td>
                            <td>Белгородская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>БРЯНСК</td>
                            <td>Брянская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>ВЛАДИМИР</td>
                            <td>Владимирская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>ВОРОНЕЖ</td>
                            <td>Воронежская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>ИВАНОВО</td>
                            <td>Ивановская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>КАЛУГА</td>
                            <td>Калужская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>КОСТРОМА</td>
                            <td>Костромская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>КУРСК</td>
                            <td>Курская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>ЛИПЕЦК</td>
                            <td>Липецкая обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>НИЖНИЙ НОВГОРОД</td>
                            <td>Нижегородская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>ОРЕЛ</td>
                            <td>Орловская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>ПЕНЗА</td>
                            <td>Пензенская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>РЯЗАНЬ</td>
                            <td>Рязанская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>СМОЛЕНСК</td>
                            <td>Смоленская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>ТАМБОВ</td>
                            <td>Тамбовская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>ТВЕРЬ</td>
                            <td>Тверская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>ТУЛА</td>
                            <td>Тульская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>ЯРОСЛАВЛЬ</td>
                            <td>Ярославская обл.</td>
                            <td>2-3</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td colspan="4"><strong>2 зона</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>ВЕЛИКИЙ НОВГОРОД</td>
                            <td>Новгородская обл.</td>
                            <td>2-3</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>ВОЛОГДА</td>
                            <td>Вологодская обл.</td>
                            <td>2-3</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>ИЖЕВСК</td>
                            <td>Удмуртская респ.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>ЙОШКАР-ОЛА</td>
                            <td>Марий Эл респ.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>КАЗАНЬ</td>
                            <td>Татарстан респ.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>КИРОВ</td>
                            <td>Кировская обл.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>КРАСНОДАР</td>
                            <td>Краснодарский край</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>28</td>
                            <td>ПЕТРОЗАВОДСК</td>
                            <td>Карелия респ.</td>
                            <td>3-5</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>29</td>
                            <td>ПСКОВ</td>
                            <td>Псковская обл.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>РОСТОВ-НА-ДОНУ</td>
                            <td>Ростовская обл.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>САМАРА</td>
                            <td>Самарская обл.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>САРАНСК</td>
                            <td>Мордовия респ.</td>
                            <td>2-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>33</td>
                            <td>САРАТОВ</td>
                            <td>Саратовская обл.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>34</td>
                            <td>УЛЬЯНОВСК</td>
                            <td>Ульяновская обл.</td>
                            <td>3-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>ЧЕБОКСАРЫ</td>
                            <td>Чувашия респ.</td>
                            <td>2-4</td>
                            <td>330</td>
                        </tr>
                        <tr>
                            <td colspan="4"><strong>3 зона</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>36</td>
                            <td>ВОЛГОГРАД</td>
                            <td>Волгоградская обл.</td>
                            <td>3-4</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>37</td>
                            <td>ЕКАТЕРИНБУРГ</td>
                            <td>Свердловская обл.</td>
                            <td>3-4</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td>КАЛИНИНГРАД</td>
                            <td>Калининградская обл.</td>
                            <td>3-5</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>39</td>
                            <td>МАЙКОП</td>
                            <td>Адыгея респ.</td>
                            <td>3-5</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>НАЛЬЧИК</td>
                            <td>Кабардино-Балкарская респ.</td>
                            <td>3-4</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>НОВОРОССИЙСК</td>
                            <td>Краснодарский край</td>
                            <td>4-5</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>42</td>
                            <td>СОЧИ</td>
                            <td>Краснодарский край</td>
                            <td>4-5</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>43</td>
                            <td>ОРЕНБУРГ</td>
                            <td>Оренбургская обл.</td>
                            <td>3-4</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>44</td>
                            <td>СТАВРОПОЛЬ</td>
                            <td>Ставропольский край</td>
                            <td>3-4</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>45</td>
                            <td>УФА</td>
                            <td>Башкортостан респ.</td>
                            <td>3-4</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>46</td>
                            <td>ЧЕЛЯБИНСК</td>
                            <td>Челябинская обл.</td>
                            <td>3-4</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td colspan="4"><strong>4 зона</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>47</td>
                            <td>МАХАЧКАЛА</td>
                            <td>Дагестан респ.</td>
                            <td>3-4</td>
                            <td>380</td>
                        </tr>
                        <tr>
                            <td>48</td>
                            <td>НОВОСИБИРСК</td>
                            <td>Новосибирская обл.</td>
                            <td>3-4</td>
                            <td>380</td>
                        </tr>
                        <tr>
                            <td>49</td>
                            <td>ОМСК</td>
                            <td>Омская обл.</td>
                            <td>3-4</td>
                            <td>380</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>ПЕРМЬ</td>
                            <td>Пермский край</td>
                            <td>3-4</td>
                            <td>380</td>
                        </tr>
                        <tr>
                            <td>51</td>
                            <td>СУРГУТ</td>
                            <td>Ханты-Мансийский авт. округ-Югра</td>
                            <td>3-5</td>
                            <td>380</td>
                        </tr>
                        <tr>
                            <td>52</td>
                            <td>ТЮМЕНЬ</td>
                            <td>Тюменская обл.</td>
                            <td>3-5</td>
                            <td>380</td>
                        </tr>
                        <tr>
                            <td>53</td>
                            <td>ЧЕРКЕССК</td>
                            <td>Карачаево-Черкесская респ.</td>
                            <td>3-5</td>
                            <td>380</td>
                        </tr>
                        <tr>
                            <td colspan="4"><strong>5 зона</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>54</td>
                            <td>АБАКАН</td>
                            <td>Хакасия респ.</td>
                            <td>4-6</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>55</td>
                            <td>АРХАНГЕЛЬСК</td>
                            <td>Архангельская обл.</td>
                            <td>3-5</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>56</td>
                            <td>АСТРАХАНЬ</td>
                            <td>Астаханская обл.</td>
                            <td>3-5</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>57</td>
                            <td>БАРНАУЛ</td>
                            <td>Алтайский край</td>
                            <td>3-4</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>58</td>
                            <td>ВЛАДИКАВКАЗ</td>
                            <td>Северная Осетия-Алания респ.</td>
                            <td>3-5</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>59</td>
                            <td>ИРКУТСК</td>
                            <td>Иркутская обл.</td>
                            <td>3-4</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>КЕМЕРОВО</td>
                            <td>Кемеровская обл.</td>
                            <td>3-4</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>61</td>
                            <td>КРАСНОЯРСК</td>
                            <td>Красноярский край</td>
                            <td>3-4</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>62</td>
                            <td>КУРГАН</td>
                            <td>Курганская обл.</td>
                            <td>3-4</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>МУРМАНСК</td>
                            <td>Мурманская обл.</td>
                            <td>3-5</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>64</td>
                            <td>НОВОКУЗНЕЦК</td>
                            <td>Кемеровская обл.</td>
                            <td>3-4</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>65</td>
                            <td>СЫКТЫВКАР</td>
                            <td>Коми респ.</td>
                            <td>3-4</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>66</td>
                            <td>ТОМСК</td>
                            <td>Томская обл.</td>
                            <td>3-4</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td colspan="4"><strong>6 зона</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>67</td>
                            <td>БЛАГОВЕЩЕНСК</td>
                            <td>Амурская обл.</td>
                            <td>6-10</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>68</td>
                            <td>ВЛАДИВОСТОК</td>
                            <td>Приморский край</td>
                            <td>3-4</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>69</td>
                            <td>ГОРНО-АЛТАЙСК</td>
                            <td>Алтай респ.</td>
                            <td>3-4</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>ГРОЗНЫЙ</td>
                            <td>Чечня респ.</td>
                            <td>4-6</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>71</td>
                            <td>КЫЗЫЛ</td>
                            <td>Тыва респ.</td>
                            <td>3-6</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>72</td>
                            <td>МАГАС</td>
                            <td>Ингушская респ.</td>
                            <td>4-5</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>73</td>
                            <td>НАРЬЯН-МАР</td>
                            <td>Ненецкий авт. округ</td>
                            <td>5-7</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>74</td>
                            <td>УЛАН-УДЭ</td>
                            <td>Бурятия респ.</td>
                            <td>3-4</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>ХАБАРОВСК</td>
                            <td>Хабаровский край</td>
                            <td>3-4</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>76</td>
                            <td>ХАНТЫ-МАНСИЙСК</td>
                            <td>Ханты-Мансийский авт. округ-Югра</td>
                            <td>3-6</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>77</td>
                            <td>ЭЛИСТА</td>
                            <td>Калмыкия респ.</td>
                            <td>3-4</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>78</td>
                            <td>ЧИТА</td>
                            <td>Забайкальский край</td>
                            <td>4-6</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td>79</td>
                            <td>ЮЖНО-САХАЛИНСК</td>
                            <td>Сахалинская обл.</td>
                            <td>3-4</td>
                            <td>440</td>
                        </tr>
                        <tr>
                            <td colspan="4"><strong>7 зона</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>80</td>
                            <td>АНАДЫРЬ</td>
                            <td>Чукотский авт. округ</td>
                            <td>4-6</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>81</td>
                            <td>БИРОБИДЖАН</td>
                            <td>Еврейская авт. обл.</td>
                            <td>3-6</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>82</td>
                            <td>МАГАДАН</td>
                            <td>Магаданская обл.</td>
                            <td>4-6</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>83</td>
                            <td>НОРИЛЬСК</td>
                            <td>Красноярский край</td>
                            <td>3-4</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>84</td>
                            <td>ПЕТРОПАВЛОВСК-КАМЧАТСКИЙ</td>
                            <td>Камчатский край</td>
                            <td>3-5</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>85</td>
                            <td>САЛЕХАРД</td>
                            <td>Ямало-Ненецкий авт. округ</td>
                            <td>3-6</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>86</td>
                            <td>ЯКУТСК</td>
                            <td>Саха (Якутия) респ.</td>
                            <td>3-5</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>Сроки доставки указаны до областных центров (столиц автономных республик, краев, округов) в рабочих днях без учета дня приема отправления, выходных и праздничных дней.</p>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;*В таблице указана стоимость и сроки доставки в областные центры. Стоимость и сроки доставки в другие города России уточняйте по телефону горячей линии&nbsp;<strong>8 800 200 8 100</strong>&nbsp;(звонок по России бесплатный). Стоимость доставки будет отображена автоматически при выборе региона и города доставки в процессе формирования заказа на сайте.</p>
                <p>Обратите внимание при заказе в регионы России:</p>
                <p>Проверяйте правильность индекса и полного адреса доставки (и деталей адреса), наличие и корректность телефона указанного Вами при оформлении заказа. От правильности и полноты этих данных зависит доставка Вашего заказа и правильный расчет стоимости доставки.</p>
                <p>Если у Вас возникли вопросы по доставке товара, пожалуйста, свяжитесь с нами по телефонам, указанным ниже:</p>
                <p>Горячая линия курьерской службы:&nbsp;<strong>8-800-200-8-100</strong>&nbsp;.</p>
                <p>Горячая линия службы поддержки клиентов NESCAFE Dolce Gusto:&nbsp;<strong>8-800-700-79-79</strong></p>
                <p>Адрес электронной почты:&nbsp;<strong>contact@ru.nestle.com.</strong></p>
            </div>
        </div>
    </div>
</div>

