<div>
    <br>
    <div class="page-title">
        <h1>Часто задаваемые вопросы</h1>
    </div>
    <br>
    <section id="getting-started-with-the-site" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Начало работы с сайтом">
            Начало работы с сайтом
        </h2>
        <div tabindex="0" id="accordion_msTitle_0" class="title first faq-705" "=" ">
            <h3 class="icon">
                <span class="question">Я впервые на сайте, как мне зарегистрироваться?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-705" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_0_msContent" class="content iepadding faq-705">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Пройдите по <a href="https://www.dolce-gusto.ru/customer/account/create/" title="" target="">ссылке</a>, чтобы пройти 5 простых шагов регистрации. Если Вам понадобится дополнительная информация о процессе регистрации, свяжитесь с нашей клиентской службой по номеру 8-800-700-79-79.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-705"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_1" class="title faq-706" "=" ">
            <h3 class="icon">
                <span class="question">Как мне получить подарочную коробочку капсул?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-706" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_1_msContent" class="content iepadding faq-706">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Это предложение доступно для всех пользователей, впервые купивших кофе-машину&nbsp;</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px; text-align: justify;">NESCAFÉ® Dolce Gusto®</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">. После того, как Вы&nbsp;прошли 5 шагов <a href="https://www.dolce-gusto.ru/customer/account/create/" title="" target="">регистрации</a> и вошли на сайт, используя Ваше имя пользователя и пароль, добавьте в корзину необходимые Вам товары. Перед оформлением заказа,&nbsp;</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">введите&nbsp;</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">в корзине Ваш уникальный 12-значный код (находится в приветственной&nbsp;</span><span lang="RU" style="font-size:8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">брошюре</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">) в окошке на&nbsp;экране. После активации кода, стоимость одной коробочки капсул будет автоматически обнулена. Обращаем Ваше внимание, что один клиент может использовать не более 3 кодов по данной Акции.</span><div><font color="#663d07" face="verdana, sans-serif"><span style="font-size: 11px; line-height: 16px;">Подробнее о том <a href="https://www.dolce-gusto.ru/i-love-presents" title="" target="">как активировать промо-код</a></span></font></div>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-706"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_2" class="title faq-707" "=" ">
            <h3 class="icon">
                <span class="question">Я не получил подтверждения регистрации на мой почтовый ящик.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-707" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_2_msContent" class="content iepadding faq-707">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-indent:0cm">
                    <span style="font-size:8.5pt;
font-family:&quot;Verdana&quot;,sans-serif;color:#663D07">
                        Пожалуйста, проверьте папку с
                        Нежелательной почтой, возможно, письмо попало туда.
                    </span><span style="font-family:&quot;Times New Roman&quot;,serif"><o:p></o:p></span>
                </p>

                <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;
color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;mso-bidi-language:
AR-SA">
                    Если письма нет, пожалуйста, обратитесь на нашу Горячую Линию
                    8-800-700-79-79 или заполните<span class="apple-converted-space">&nbsp;</span><a href="https://www.dolce-gusto.ru/contact-us/" title="" target="">форму обратной связи</a><span class="apple-converted-space">&nbsp;</span>на сайте.
                </span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-707"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_3" class="title faq-708" "=" ">
            <h3 class="icon">
                <span class="question">Присланная Вами на почтовый ящик ссылка неактивна.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-708" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_3_msContent" class="content iepadding faq-708">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-indent:0cm;line-height:13.5pt">
                    <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;mso-bidi-font-family:
Arial;color:#663D07">
                        Если ссылка неактивна, скопируйте ее и вставьте напрямую в
                        адресную строку Вашего браузера.<o:p></o:p>
                    </span>
                </p>

                <p class="MsoNormal" style="text-indent:0cm;line-height:13.5pt">
                    <span style="font-size: 8.5pt; line-height: 1.5em; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">
                        Если ссылка не работает, пожалуйста, обратитесь на нашу Горячую Линию
                        8-800-700-79-79 или заполните&nbsp;
                    </span><span style="line-height: 1.5em; font-size: 11pt; font-family: Calibri, sans-serif;">
                        <span style="font-size:
8.5pt;font-family:&quot;Verdana&quot;,sans-serif;color:#AAAAAA;text-decoration:none;
text-underline:none"><a href="https://www.dolce-gusto.ru/contact-us/" title="" target="">форму обратной связи</a></span>
                    </span><span style="font-size: 9pt; line-height: 1.5em; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">&nbsp;</span><span style="font-size: 8.5pt; line-height: 1.5em; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">на сайте.</span>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-708"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_4" class="title faq-709" "=" ">
            <h3 class="icon">
                <span class="question">Насколько безопасен Ваш сайт?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-709" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_4_msContent" class="content iepadding faq-709">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Интернет-сайт&nbsp;</span><span lang="RU" style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">NESCAFÉ® Dolce Gusto®&nbsp;</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">полностью конфиденциален.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-709"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_5" class="title faq-710" "=" ">
            <h3 class="icon">
                <span class="question">Могу ли я совершать покупки в Интернет-магазине, если у меня нет кофе-машины?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-710" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_5_msContent" class="content iepadding faq-710">
            <div class="faqAnswer">
                <font color="#663d07" face="verdana, sans-serif"><span style="font-size: 11px; line-height: 16px;">Да, Вы можете <a href="https://www.dolce-gusto.ru/customer/account/create/" title="" target="">зарегистрироваться</a> и совершать покупки в нашем&nbsp;</span></font><font color="#663d07" face="verdana, sans-serif" size="1"><span style="line-height: 16px;">Интернет</span></font><font color="#663d07" face="verdana, sans-serif"><span style="font-size: 11px; line-height: 16px;">-магазине, если у Вас нет кофе-машины.</span></font>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-710"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_6" class="title faq-711" "=" ">
            <h3 class="icon">
                <span class="question">Я зарегистрированный пользователь, но я забыл логин и/или пароль.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-711" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_6_msContent" class="content iepadding faq-711">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-indent:0cm">
                    <span style="font-size:8.5pt;
font-family:&quot;Verdana&quot;,sans-serif;color:#663D07">
                        Следует помнить, что имя
                        пользователя и пароль чувствительны к регистру. Чтобы сбросить пароль: пройдите
                        по ссылке "забыли пароль?" в нижнем левом углу формы МОЙ ПРОФИЛЬ и
                        введите Ваш адрес электронной почты. Вам будет отправлено электронное письмо со
                        ссылкой для восстановления пароля. После того, как Вы перейдете по ссылке, Вы
                        сможете поменять пароль.<o:p></o:p>
                    </span>
                </p>

                <p class="MsoNormal" style="text-indent:0cm">
                    <span style="font-size:8.5pt;
font-family:&quot;Verdana&quot;,sans-serif;color:#663D07"><o:p>&nbsp;</o:p></span>
                </p>

                <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Calibri;
color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;mso-bidi-language:
AR-SA">
                    Если у вас возникли технические проблемы, пожалуйста, обратитесь на нашу
                    Горячую Линию 8-800-700-79-79 или заполните <a href="https://www.dolce-gusto.ru/contact-us/" title="" target="">форму обратной связи</a> на сайте.
                </span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-711"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_7" class="title faq-712" "=" ">
            <h3 class="icon">
                <span class="question">У меня проблемы с загрузкой сайта</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-712" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_7_msContent" class="content iepadding faq-712">
            <div class="faqAnswer">
                <div><font color="#663d07" face="verdana, sans-serif"><span style="font-size: 11px; line-height: 16px;">Возможно, на сайте ведутся технические вопросы, попробуйте зайти позже.</span></font></div><div><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Также, для пользования сайтом на Вашем компьютере должны быть включены "cookies", е</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">сли Вы все же испытываете проблемы с загрузкой сайта, то Вам следует изменить настройки Вашего браузера. Д</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">ля этого найдите в настройках Вашего браузера "Инструменты", выберите "Настройки Интернет". Там Вам необходимо изменить настройки безопасности для разрешения всех cookies. Если этого не сделать, сайт НЕ СМОЖЕТ работать корректно.&nbsp;</span></div><div><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Если Вы пользователь Apple Mac, пожалуйста, обратитесь к Вашей технической поддержке.</span></div>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-712"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
    <section id="accrual-of-loyalty-points" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Получение коробочки капсул в подарок по коду из приветственной брошюры">
            Получение коробочки капсул в подарок по коду из приветственной брошюры
        </h2>
        <div tabindex="0" id="accordion_msTitle_8" class="title faq-713" "=" ">
            <h3 class="icon">
                <span class="question">Я зарегистрировался, но когда я вхожу на сайт, я не вижу своей подарочной коробочки капсул.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-713" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_8_msContent" class="content iepadding faq-713">
            <div class="faqAnswer">
                <span lang="RU" style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    Коробочку капсул в подарок Вы сможете получить
                    при формировании заказа, после активации кода из приветственного буклета,
                    который прилагается к Вашей кофе-машине.
                </span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-713"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_9" class="title faq-714" "=" ">
            <h3 class="icon">
                <span class="question">Я выбросил свой приветственный буклет, могу ли я получить новый код на получение коробочки капсул в подарок?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-714" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_9_msContent" class="content iepadding faq-714">
            <div class="faqAnswer">
                <span lang="RU" style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    Вы найдете специальный просо-код в
                    приветственном буклете, который прилагается к Вашей кофе-машине. Если буклет
                    утерян, к сожалению, восстановление невозможно.
                </span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-714"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_10" class="title faq-718" "=" ">
            <h3 class="icon">
                <span class="question">Я не могу ввести свой промо-код на подарочную коробочку капсул.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-718" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_10_msContent" class="content iepadding faq-718">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Проверьте, не перепутали ли Вы какие-нибудь буквы. Если Вы все же испытываете трудности, пожалуйста, позвоните в нашу клиентскую службу по номеру 8-800-700-79-79&nbsp;</span><span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">или заполните<a href="https://www.dolce-gusto.ru/contact-us/" title="" target="">форму<span class="apple-converted-space">&nbsp;</span></a></span><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Calibri;
mso-ansi-language:RU;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"><a href="javascript:nicTemp();">обратной связи</a></span></span><span class="apple-converted-space">
                    <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">&nbsp;</span>
                </span><span style="font-size:8.5pt;
font-family:&quot;Verdana&quot;,sans-serif;mso-fareast-font-family:Calibri;mso-fareast-theme-font:
minor-latin;mso-bidi-font-family:Calibri;color:#663D07;mso-ansi-language:RU;
mso-fareast-language:EN-US;mso-bidi-language:AR-SA">на сайте</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-718"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_11" class="title faq-720" "=" ">
            <h3 class="icon">
                <span class="question">В моем личном кабинете были промо-коды на бесплатную коробочку капсул, но они куда-то исчезли. Почему?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-720" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_11_msContent" class="content iepadding faq-720">
            <div class="faqAnswer">
                <span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    Проверьте, не зарегистрировались ли Вы случайно
                    дважды. Если Вы все же испытываете трудности, пожалуйста, обратитесь на нашу
                    Горячую Линию 8-800-700-79-79 или заполните<span class="apple-converted-space">&nbsp;</span>
                </span><a href="https://www.dolce-gusto.ru/contact-us/" title="" target="">
                    <span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Calibri;
mso-ansi-language:RU;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">
                        <span style="font-size: 8.5pt; font-family: Verdana, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                            форму
                            обратной связи
                        </span>
                    </span>
                </a><span class="apple-converted-space"><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">&nbsp;</span></span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    на
                    сайте.&nbsp;
                </span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-720"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_12" class="title faq-721" "=" ">
            <h3 class="icon">
                <span class="question">У меня 2 учетных записи, могу ли я их объединить?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-721" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_12_msContent" class="content iepadding faq-721">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Нет. После активации&nbsp;</span><span lang="RU" style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">промо-кодов на бесплатную коробочку капсул</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">&nbsp;они не могут быть переведены на другую учетную запись.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-721"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_13" class="title faq-757" "=" ">
            <h3 class="icon">
                <span class="question">Я хочу заказать капсулы и все их оплатить промо-кодами – возможно ли это?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-757" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_13_msContent" class="content iepadding faq-757">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    <span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt; text-indent: 0cm; line-height: 1.5em;">
                        Нет, поскольку, чтобы заказ был
                        обработан, его минимальная сумма должна быть не менее 975 рублей без учета скидок.&nbsp;
                    </span>
                </p><p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    <span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt; line-height: 1.5em;">
                        Обращаем Ваше внимание, что один клиент может использовать не
                        более 3 кодов по данной Акции.&nbsp;
                    </span><span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt; line-height: 13.5pt;">
                        Подробнее
                        о том
                    </span><span class="apple-converted-space" style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt; line-height: 13.5pt;">&nbsp;</span><a href="https://www.dolce-gusto.ru/i-love-presents" title="" style="font-family: Verdana, sans-serif; font-size: 8.5pt; line-height: 13.5pt;">как активировать промо-код</a>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-757"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
    <section id="use-bonus-points" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Воспользоваться промо-кодами">
            Воспользоваться промо-кодами
        </h2>
        <div tabindex="0" id="accordion_msTitle_14" class="title faq-723" "=" ">
            <h3 class="icon">
                <span class="question">Я добавил несколько промо-кодов на свой счет, как я теперь могу ими распоряжаться?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-723" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_14_msContent" class="content iepadding faq-723">
            <div class="faqAnswer">
                <span lang="RU" style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    Промо-код можно использовать на получение
                    коробочек капсул. За один промо-код можно получить одну коробочку капсул
                    бесплатно.&nbsp;
                </span><span lang="RU" style="font-size:8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">
                    Обращаем Ваше внимание, что один клиент может
                    использовать не более 3 кодов по данной Акции.
                </span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-723"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_15" class="title faq-724" "=" ">
            <h3 class="icon">
                <span class="question">Я хочу воспользоваться своими промо-кодами для покупки товаров, но у меня не получается.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-724" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_15_msContent" class="content iepadding faq-724">
            <div class="faqAnswer">
                <div>
                    <p class="MsoNormal" style="text-indent:0cm">
                        <span lang="RU" style="font-size:8.5pt;
font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#663D07;mso-fareast-language:RU">
                            Промо-коды
                            можно использовать на получение коробочек капсул или получение других скидок.&nbsp;
                        </span><span lang="RU" style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:RU"><o:p></o:p></span>
                    </p><p class="MsoNormal" style="text-indent:0cm">

                    </p><p class="MsoNormal" style="text-indent:0cm;line-height:13.5pt">
                        <span lang="RU" style="font-size:8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#663D07;
mso-fareast-language:RU">
                            Чтобы воспользоваться промо-кодом на бесплатную
                            коробочку капсул нужно положить в корзину коробочки с капсулами. После этого,
                            активируйте код. При этом, стоимость коробочки капсул
                            автоматически&nbsp;обнуляется.&nbsp;
                        </span><span lang="RU" style="font-size: 12pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span><span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt; line-height: 1.5em;">Подробнее о том</span><span class="apple-converted-space" style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt; line-height: 1.5em;">&nbsp;</span><a href="https://www.dolce-gusto.ru/i-love-presents" title="" style="font-family: Verdana, sans-serif; font-size: 8.5pt; line-height: 1.5em;">как активировать промо-код</a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-724"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
    <section id="place-order" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Разместить заказ">
            Разместить заказ
        </h2>
        <div tabindex="0" id="accordion_msTitle_16" class="title faq-726" "=" ">
            <h3 class="icon">
                <span class="question">Как мне разместить заказ?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-726" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_16_msContent" class="content iepadding faq-726">
            <div class="faqAnswer">
                <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">
                    <a href="https://www.dolce-gusto.ru/customer/account/create/" title="" target="">Зарегистрируйтесь </a>или войдите на сайт, используя свое имя пользователя и
                    пароль. Зайдите в Интернет-магазин NESCAFÉ® Dolce Gusto®. Выберите
                    понравившийся(еся) Вам товар(ы), нажав на кнопку ‘добавить в корзину’, затем
                    нажмите ‘Перейти в корзину’. Проверьте свой заказ и необходимое количество
                    каждого товара. Вы можете изменить количество каждого товара и затем нажать
                    ‘обновить’ для внесения изменений.<br>
                    Стоимость Вашего заказа отображается внизу страницы. Для активации промо-кода
                    Вам необходимо ввести и активировать Ваш уникальный 12-значный код в
                    специальном поле в корзине, либо зарегистрировать промо-код в
                </span><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Calibri;
mso-ansi-language:RU;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><span style="font-size: 9pt; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><a href="https://www.dolce-gusto.ru/mybonus/" title="" target="">Вашем профиле</a></span></span><span class="apple-converted-space"><span style="font-size: 9pt; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">&nbsp; </span></span><span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">
                    и активировать его при совершении заказа. После
                    активации кода подитог сверху страницы отобразит сумму к оплате с учетом
                    скидки. Проверьте оставшуюся к оплате сумму и нажмите ‘Перейти к оформлению
                    заказа’.
                </span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-726"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_17" class="title faq-727" "=" ">
            <h3 class="icon">
                <span class="question">Могу ли я использовать банковские карты для оплаты заказа?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-727" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_17_msContent" class="content iepadding faq-727">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Нет. Все заказы оплачиваются наличными курьеру по факту доставки.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-727"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_18" class="title faq-728" "=" ">
            <h3 class="icon">
                <span class="question">Как я могу использовать промо-коды для оплаты заказа?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-728" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_18_msContent" class="content iepadding faq-728">
            <div class="faqAnswer">
                <p class="MsoNormal" style="line-height:13.5pt">
                    <span lang="RU" style="font-size:
8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;color:#663D07">
                        Промокоды
                        можно использовать для получения бесплатной коробочки капсул. Чтобы
                        воспользоваться промокодом, Вам необходимо ввести и активировать Ваш уникальный 12-значный код в специальном поле в корзине, либо зарегистрировать промокод в <a href="https://www.dolce-gusto.ru/mybonus/" title="" target="_blank">Вашем профиле</a>&nbsp;
                    </span><span lang="RU" style="font-size:8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
Arial;color:#663D07">
                        и активировать его при совершении
                        заказа.&nbsp;&nbsp;Стоимость коробочки капсул при этом&nbsp;автоматически<span class="apple-converted-space">&nbsp;</span>аннулируется.
                    </span><span lang="RU" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span>
                </p><p class="MsoNormal" style="line-height:13.5pt">

                </p><p class="MsoNormal" style="line-height:13.5pt">
                    <span lang="RU" style="font-size:
8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;color:#663D07">
                        Вы
                        также можете стать обладателем других промо-кодов. Следите и участвуйте в наших
                        акциях, указанных в разделе<span class="apple-converted-space">&nbsp;</span>
                    </span><span lang="RU"><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"><a href="https://www.dolce-gusto.ru/promo" title="" target="">Акции</a></span></span><span lang="RU" style="font-size:8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
Arial;color:#663D07">.<o:p></o:p></span>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-728"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_19" class="title faq-729" "=" ">
            <h3 class="icon">
                <span class="question">Могу ли я воспользоваться промо-кодами для оплаты доставки заказа?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-729" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_19_msContent" class="content iepadding faq-729">
            <div class="faqAnswer">
                <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Arial;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;mso-bidi-language:
AR-SA">
                    Как правило, промо-коды используются только на получение товаров и оплата
                    доставки осуществляется наличными курьеру.&nbsp;
                </span><br><div>
                    <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Arial;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;mso-bidi-language:
AR-SA">Однако, мы регулярно проводим акции на бесплатную доставку, которые вы точно не пропустите, если подпишитесь на нашу рассылку.</span>
                </div>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-729"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_20" class="title faq-730" "=" ">
            <h3 class="icon">
                <span class="question">Стоимость доставки указана за каждый товар или за весь заказ?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-730" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_20_msContent" class="content iepadding faq-730">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Стоимость доставки, указанная на сайте, взимается за весь заказ.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-730"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_21" class="title faq-733" "=" ">
            <h3 class="icon">
                <span class="question">Какую ложку лучше купить к чашке капучино?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-733" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_21_msContent" class="content iepadding faq-733">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Мы рекомендуем приобрести ложечки Лунго или набор средних кофейных ложечек. Обратитесь к разделу «<a href="https://www.dolce-gusto.ru/accessories" title="" target="">Аксессуары</a>» за более подробной информацией.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-733"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_22" class="title faq-734" "=" ">
            <h3 class="icon">
                <span class="question">Могу ли я оплатить товар частично промо-кодами, частично наличными?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-734" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_22_msContent" class="content iepadding faq-734">
            <div class="faqAnswer">
                <font color="#663d07" face="verdana, sans-serif"><span style="font-size: 11px; line-height: 16px;">Вы можете использовать промо-коды при оформлении заказа для получения коробочки капсул в подаорк или другой скидки, которая предоставляется при</span></font><span style="font-family: Verdana, sans-serif; font-size: 8.5pt;">
                    &nbsp;активации промо-кода. При этом, минимальная сумма заказа
                    равна&nbsp;
                </span><span style="font-family: Verdana, sans-serif; font-size: 11px;">составляет</span><span style="font-family: Verdana, sans-serif; font-size: 8.5pt;">
                    &nbsp;975 рублей без учета скидки.&nbsp;Таким образом, Вам необходимо&nbsp;сделать заказ на минимальную сумму, чтобы
                    заказ был оформлен.
                </span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-734"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_23" class="title faq-735" "=" ">
            <h3 class="icon">
                <span class="question">Я не могу найти товар – означает ли это, что его больше нет в наличии?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-735" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_23_msContent" class="content iepadding faq-735">
            <div class="faqAnswer">
                <span style="font-size: 8.5pt; font-family: Verdana, sans-serif;">
                    <font color="#663d07">
                        Если Вы не можете найти какой-либо товар в
                        Интернет-магазине, его может не быть в наличии в настоящий момент.
                        Пожалуйста,&nbsp;обратитесь на нашу Горячую Линию 8-800-700-79-79 или заполните
                    </font><span class="apple-converted-space"><font color="#663d07">&nbsp;</font><a href="https://www.dolce-gusto.ru/contact-us/" title="" target="">форму обратной связи</a></span>
                </span><span class="apple-converted-space"><font color="#663d07" face="Verdana, sans-serif"><span style="font-size: 8.5pt;">&nbsp;</span></font></span><span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">
                    на сайте&nbsp;для получения более подробной
                    информации. Вы также можете подписаться на уведомления нажав на
                    кнопку&nbsp;‘отправить уведомление’ в выпадающем окошке, располагающемся под
                    каждым товаром, и мы известим Вас как только интересующий Вас товар появится в
                    наличии.&nbsp;
                </span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-735"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_24" class="title faq-736" "=" ">
            <h3 class="icon">
                <span class="question">Вы осуществляете доставку за пределами Москвы и Санкт-Петербурга?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-736" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_24_msContent" class="content iepadding faq-736">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Да. Мы осуществляем доставку по России. Подробную информацию о сроках и стоимости доставки Вы можете найти в разделе <a href="https://www.dolce-gusto.ru/delivery-conditions-ru" title="" target="">ДОСТАВКА</a>.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-736"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_25" class="title faq-737" "=" ">
            <h3 class="icon">
                <span class="question">Могу ли я сделать заказ по телефону?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-737" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_25_msContent" class="content iepadding faq-737">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Да. Вы можете сделать заказ не только через Интернет-магазин, но и по телефону&nbsp;</span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">8-800-200-8-100.&nbsp;</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-737"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_26" class="title faq-756" "=" ">
            <h3 class="icon">
                <span class="question">Есть ли минимальная сумма для оформления заказа? Учитывает ли она скидки?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-756" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_26_msContent" class="content iepadding faq-756">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    <span style="font-size:8.5pt;font-family:
&quot;Verdana&quot;,sans-serif;color:#663D07">
                        Да, сумма Вашего заказа должна быть не
                        менее 975 рублей с учетом скидок.<o:p></o:p>
                    </span>
                </p>

                <p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    <span style="font-size:8.5pt;font-family:
&quot;Verdana&quot;,sans-serif;color:#663D07"><o:p>&nbsp;</o:p></span>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-756"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
    <section id="your-order-is-placed" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Ваш заказ размещен">
            Ваш заказ размещен
        </h2>
        <div tabindex="0" id="accordion_msTitle_27" class="title faq-738" "=" ">
            <h3 class="icon">
                <span class="question">Я не уверен, прошел ли мой заказ.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-738" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_27_msContent" class="content iepadding faq-738">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Если Ваш заказ прошел, мы отправим Вам письмо с подтверждением его получения. Для получения дополнительной информации, пожалуйста, свяжитесь с нами по бесплатному номеру&nbsp;</span><span lang="RU" style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">8-800-200-8-100</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-738"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_28" class="title faq-739" "=" ">
            <h3 class="icon">
                <span class="question">Я хочу изменить адрес доставки.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-739" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_28_msContent" class="content iepadding faq-739">
            <div class="faqAnswer">
                <span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Вы можете изменить адрес доставки по телефону 8-800-200-8-100.&nbsp;</span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-739"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_29" class="title faq-740" "=" ">
            <h3 class="icon">
                <span class="question">Я хочу отменить заказ.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-740" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_29_msContent" class="content iepadding faq-740">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Отмена заказа возможна по телефону 8-800-200-8-100</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-740"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_30" class="title faq-741" "=" ">
            <h3 class="icon">
                <span class="question">Где находится мой заказ/как долго мне его ожидать?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-741" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_30_msContent" class="content iepadding faq-741">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-indent:0cm;line-height:13.5pt">
                    <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;color:#663D07">
                        Вы
                        можете проверить статус заказа, пройдя по<span class="apple-converted-space">&nbsp;<a href="https://www.spsr.ru/ru/service/monitoring" title="" target="">ссылке</a></span>
                    </span><span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;color:#663D07">.</span>
                </p><p class="MsoNormal" style="text-indent:0cm;line-height:13.5pt">
                    <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;mso-bidi-font-family:
Arial;color:#663D07">
                        Просто введите номер Вашего заказа в поле "Номер
                        накладной", добавив символы DG к номеру заказа. Например, в случае номера
                        заказа RU3AXXXXXX в поле "Номер накладной" необходимо внести номер
                        DGRU3AXXXXXX.
                    </span><span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
color:#663D07">
                        Срок и стоимость доставки заказа Вы можете проверить в
                        разделе <a href="https://www.dolce-gusto.ru/delivery-conditions-ru" title="" target="">ДОСТАВКА</a>.
                    </span>
                </p>

                <p class="MsoNormal" style="text-indent:0cm;line-height:13.5pt">
                    <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;color:#663D07">
                        Если Вы
                        все же испытываете трудности, пожалуйста,&nbsp;обратитесь<span style="background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"> по телефону 8-800-200-8-100&nbsp;</span>
                    </span><span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;mso-bidi-font-family:
Arial;color:#663D07"><o:p></o:p></span>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-741"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_31" class="title faq-742" "=" ">
            <h3 class="icon">
                <span class="question">Возврат заказа</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-742" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_31_msContent" class="content iepadding faq-742">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">С процедурой возврата товара надлежащего и ненадлежащего качества можно ознакомиться в пт. 7 <a href="https://www.dolce-gusto.ru/terms-conditions/" title="" target="">УСЛОВИЙ ПРОДАЖИ ООО “НЕСТЛЕ РОССИЯ”&nbsp;</a></span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-742"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_32" class="title faq-760" "=" ">
            <h3 class="icon">
                <span class="question">Я хочу внести изменения в сделанный заказ.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-760" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_32_msContent" class="content iepadding faq-760">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-indent: 0cm; background-position: initial initial; background-repeat: initial initial;">
                    <span style="font-size:8.5pt;font-family:
&quot;Verdana&quot;,&quot;sans-serif&quot;;color:#663D07">
                        К сожалению, после оформления заказа
                        внести в него изменения нельзя. Пожалуйста, отмените Ваш заказ по телефону&nbsp; 8 800 200 8 100 и оформите новый заказ.<o:p></o:p>
                    </span>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-760"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
    <section id="account-management" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Управление учетной записью">
            Управление учетной записью
        </h2>
        <div tabindex="0" id="accordion_msTitle_33" class="title faq-743" "=" ">
            <h3 class="icon">
                <span class="question">Я забыл свой пароль</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-743" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_33_msContent" class="content iepadding faq-743">
            <div class="faqAnswer">
                <p class="MsoNormal" style="margin-bottom: 0px; color: rgb(121, 121, 121); font-family: verdana; line-height: 16.2000007629395px; text-align: justify; text-indent: 0cm;"><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">Следует помнить, что имя пользователя и пароль чувствительны к регистру. Чтобы сбросить пароль пройдите по ссылке "забыли пароль?" в нижнем левом углу формы МОЙ ПРОФИЛЬ и введите Ваш адрес электронной почты. Вам будет отправлено электронное письмо со ссылкой для восстановления пароля. После того, как Вы перейдете по ссылке, Вы сможете поменять пароль.<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0px; color: rgb(121, 121, 121); font-family: verdana; line-height: 16.2000007629395px; text-align: justify; text-indent: 0cm;"><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);"><o:p>&nbsp;</o:p></span></p><span style="text-align: justify; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">Если у вас возникли технические проблемы, пожалуйста, обратитесь на нашу Горячую Линию 8-800-700-79-79 или заполните&nbsp;<font color="#aaaaaa"><a href="https://www.dolce-gusto.ru/contact-us/" title="" target="">форму обратной связи</a></font><a href="javascript:nicTemp();">&nbsp;</a>на сайте.</span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-743"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_34" class="title faq-744" "=" ">
            <h3 class="icon">
                <span class="question">Я хочу изменить данные своей учетной записи</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-744" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_34_msContent" class="content iepadding faq-744">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Для изменения данных Вашей учетной записи войдите на сайт, используя Ваше имя пользователя и пароль, и нажмите на “<a href="https://www.dolce-gusto.ru/customer/account/" title="" target="">мой профиль</a>”. Если Вы поменяете адрес электронной почты, Вам будет отправлено письмо с подтверждением. Следуйте инструкциям в письме для подтверждения внесенных изменений. Вы можете позвонить на Горячую Линию&nbsp;</span><span lang="RU" style="font-size:8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">NESCAFÉ® Dolce Gusto®</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">&nbsp;по бесплатному номеру 8-800-700-79-79 для получения подробной информации о внесении изменений в данные учетной записи.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-744"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_35" class="title faq-745" "=" ">
            <h3 class="icon">
                <span class="question">Я хочу удалить свою учетную запись</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-745" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_35_msContent" class="content iepadding faq-745">
            <div class="faqAnswer">
                <span lang="RU" style="font-size:8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">
                    Для удаления учетной записи&nbsp;NESCAFÉ® Dolce Gusto®,
                    пожалуйста, обратитесь по телефону 8-800-700-79-79 или заполните <a href="https://www.dolce-gusto.ru/contact-us/" title="Форма обратной связи" target="_blank">форму обратной связи</a> на&nbsp;
                </span><span lang="RU" style="font-size:8.5pt;
font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:Calibri;mso-fareast-theme-font:
minor-latin;mso-bidi-font-family:Calibri;color:#663D07;mso-ansi-language:RU;
mso-fareast-language:EN-US;mso-bidi-language:AR-SA">сайте.</span><br>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-745"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
    <section id="coffee-machine" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Кофемашина NESCAFÉ® Dolce Gusto®">
            Кофемашина NESCAFÉ® Dolce Gusto®
        </h2>
        <div tabindex="0" id="accordion_msTitle_36" class="title faq-746" "=" ">
            <h3 class="icon">
                <span class="question">Где я могу купить кофемашину Krups NESCAFÉ® Dolce Gusto®?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-746" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_36_msContent" class="content iepadding faq-746">
            <div class="faqAnswer">
                <p class="MsoListParagraph">
                    <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#663D07">Купить</span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        кофемашину NESCAFÉ® Dolce Gusto® можно в нашем
                        Интернет-магазине или во многих точках розничной продажи, в том числе в
                        магазинах электротехники и гипермаркетах.
                    </span><span style="font-size:8.5pt;
font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;color:#663D07"><o:p></o:p></span>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-746"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_37" class="title faq-747" "=" ">
            <h3 class="icon">
                <span class="question">Как работает кофе-машина?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-747" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_37_msContent" class="content iepadding faq-747">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;"><a href="/machines" title="" target="">Кофе-машина</a> NESCAFÉ® Dolce Gusto® подогревает воду, которая поступает под высоким давлением – максимум 15 бар – в кофейную чашку через капсулу с высококачественным молотым кофе&nbsp;</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">NESCAFÉ® Dolce Gusto®</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">. Кофе в капсулах&nbsp;произведен из отборных сортов кофе, а б</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">лагодаря высокому давлению и&nbsp;специально разработанным "умным капсулам" вода попадает в кофе равномерно, что позволяет максимально усилить вкус и аромат напитка. В кофе-машине используется давление, аналогичное профессиональным кофемашинам. Обычные кофеварки работают с давлением в один бар (обычное атмосферное давление), другие кофе-машины работают с давлением не выше двух бар, а кофе-машина NESCAFÉ® Dolce Gusto® использует давление до 15 бар. Из каждой капсулы получается чашка кофе менее, чем за одну минуту.</span><div><a href="https://www.dolce-gusto.ru/introduction" title="" target=""><font color="#663d07" face="verdana, sans-serif"><span style="font-size: 11px; line-height: 16px;">Подробнее о системе&nbsp;</span></font><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">NESCAFÉ® Dolce Gusto®&nbsp;</span></a></div>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-747"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_38" class="title faq-748" "=" ">
            <h3 class="icon">
                <span class="question">Возможно ли приобрести кофе-машину NESCAFÉ® Dolce Gusto® в других странах?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-748" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_38_msContent" class="content iepadding faq-748">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Свяжитесь с рынком Nestle в интересующей Вас стране для получения подробной информации о доступности в ней&nbsp;</span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">NESCAFÉ® Dolce Gusto®</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-748"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_39" class="title faq-749" "=" ">
            <h3 class="icon">
                <span class="question">Я открыл коробку с новой кофе-машиной, одна из деталей отсутствует.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-749" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_39_msContent" class="content iepadding faq-749">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Пожалуйста, проверьте еще раз коробу – вдруг там находится недостающая деталь. Если нет, пожалуйста, возвратите весь комплект кофе-машины в точку приобретения для замены.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-749"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_40" class="title faq-750" "=" ">
            <h3 class="icon">
                <span class="question">Кофе-машина перестала работать.</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-750" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_40_msContent" class="content iepadding faq-750">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Пожалуйста, позвоните в Службу поддержки&nbsp;</span><span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">NESCAFÉ® Dolce Gusto</span><span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;">®</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">&nbsp;по бесплатному номеру 8-800-700-79-79.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-750"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_41" class="title faq-758" "=" ">
            <h3 class="icon">
                <span class="question">Какие бывают  кофе-машины? В чем различие автоматических и механических кофе-машин?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-758" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_41_msContent" class="content iepadding faq-758">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    <span style="font-size:8.5pt;font-family:
&quot;Verdana&quot;,sans-serif;color:#663D07">
                        На российском рынке представлены несколько
                        видов кофемашин – это Piccolo,&nbsp;
                    </span><span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11.3333px;">Oblo,&nbsp;</span><span style="text-indent: 0cm; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">Melody III,&nbsp;</span><span style="text-indent: 0cm; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11.3333px;">Mini Me,&nbsp;</span><span style="text-indent: 0cm; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt;">Circolo, Genio 2, Drop. Подробнее ознакомиться с выбором кофе-машин Вы можете в разделе </span><a href="https://www.dolce-gusto.ru/machines" title="" target="" style="text-indent: 0cm; font-family: Verdana, sans-serif; font-size: 8.5pt;">КОФЕМАШИНЫ.</a>
                </p>

                <p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    <span style="font-size:8.5pt;font-family:
&quot;Verdana&quot;,sans-serif;color:#663D07">
                        Разница между кофемашинами, прежде всего,
                        в режиме подачи воды: кофемашины бывают автоматические и механические.&nbsp;
                    </span>
                </p><p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    <span style="font-size:8.5pt;font-family:
&quot;Verdana&quot;,sans-serif;color:#663D07">
                        В механических&nbsp;регулирование объема подаваемой в чашку воды
                        происходит вручную. В автоматических моделях необходимо просто прокрутить
                        колесико–дозатор вверх или вниз, выбирая необходимое количество воды
                        (рекомендации по оптимальному количеству воды отражены на каждой капсуле), нажать
                        кнопку. Кофемашина автоматически остановит подачу воды, когда напиток готов.<o:p></o:p>
                    </span>
                </p>

                <p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                    <span style="line-height: 1.5em; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;">Mine Me, Circolo, Genio 2 и Drop</span><span style="font-size:8.5pt;font-family:
&quot;Verdana&quot;,sans-serif;color:#663D07">&nbsp;– автоматические кофемашины, Piccolo Oblo и Melody III - механические.</span>
                </p><p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt; text-indent: 0cm; line-height: 1.5em;">Кофе-машины также отличаются внешним видом и объемом резервуара для воды.</span></p>

                <p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="text-indent: 0cm; line-height: 1.5em; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;"><a href="https://www.dolce-gusto.ru/machines/piccolo-genio" title="" target="">Piccolo</a>&nbsp;</span><span style="text-indent: 0cm; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px; line-height: 1.5em;">–</span><span style="text-indent: 0cm; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt;"><span style="line-height: 1.5em;">&nbsp;0,6 л.<br></span></span><span style="text-indent: 0cm; line-height: 1.5em; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;"><a href="https://www.dolce-gusto.ru/machines/oblo" title="" target="">Oblo</a>&nbsp;</span><span style="text-indent: 0cm; line-height: 1.5em; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">–&nbsp;0,8 л.<br></span><span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px; line-height: 16.5px;"><a href="https://www.dolce-gusto.ru/machines/melody" title="" target="">Melody III</a>&nbsp;</span><span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;">–</span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">&nbsp;1,3 л.<br></span><span style="text-indent: 0cm; line-height: 1.5em; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;"><a href="https://www.dolce-gusto.ru/machines/mini-me" title="" target="">Mini Me</a></span><span style="text-indent: 0cm; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);"><span style="line-height: 1.5em;">&nbsp;– 0,8 л.</span></span><span style="text-indent: 0cm; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt;"><span style="line-height: 1.5em;"><br></span></span><span style="text-indent: 0cm; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;"><span style="line-height: 16.5px;"><a href="https://www.dolce-gusto.ru/machines/circolo" title="" target="">Circolo&nbsp;</a></span>–&nbsp;</span><span style="text-indent: 0cm; font-family: Verdana, sans-serif;"><font color="#663d07"><span style="font-size: 8.5pt;">1,3 л.</span><span style="font-size: 11.3333px;"><br></span></font></span><span style="text-indent: 0cm; line-height: 1.5em; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;"><a href="https://www.dolce-gusto.ru/machines/piccolo-genio" title="" target="">Genio 2</a>&nbsp;</span><span style="text-indent: 0cm; line-height: 1.5em; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11px;">–</span><span style="text-indent: 0cm; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);"><span style="line-height: 1.5em;"><span style="font-size: 8.5pt;">&nbsp;1,0 л.</span><span style="font-size: 11.3333px;"><br></span></span></span><span style="font-size: 11.3333px; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; text-indent: 0cm;"><a href="https://www.dolce-gusto.ru/machines/drop" title="Кофемашины Drop" target="_blank">Drop</a> - 0,8 л.</span></p><p class="MsoNormal" style="text-indent: 0cm; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="text-indent: 0cm; color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 8.5pt;"><span style="line-height: 17px;"><br></span></span><span style="text-indent: 0cm; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);"><span style="line-height: 17px;"><br></span></span><br></p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-758"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_42" class="title faq-759" "=" ">
            <h3 class="icon">
                <span class="question">Как очистить кофе-машину от накипи?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-759" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_42_msContent" class="content iepadding faq-759">
            <div class="faqAnswer">
                <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#663D07;mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA">Ознакомиться с подробной инструкцией о том, как очистить кофе-машину от накипи Вы можете по<a href="https://www.youtube.com/watch?v=sPzYz9yE-Os" title="" target="">ссылке</a>.</span><div><font color="#663d07" face="Verdana, sans-serif"><span style="font-size: 11px;">Узнать подробнее о том, &nbsp;как ухаживать за Вашей кофе-машиной Вы можете в разделе <a href="https://www.dolce-gusto.ru/machine-care/" title="" target="">УХОД ЗА КОФЕ-МАШИНОЙ</a>.</span></font></div>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-759"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_43" class="title faq-786" "=" ">
            <h3 class="icon">
                <span class="question">Почему слоган бренда NESCAFE® Dolce Gusto® «Не просто чёрный кофе»?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-786" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_43_msContent" class="content iepadding faq-786">
            <div class="faqAnswer">
                <p class="MsoNormal">
                    В ассортименте бренда NESCAFE® Dolce Gusto® можно найти
                    более 15 видов кофе и напитков для всех членов семьи:
                </p><p class="MsoNormal"></p><ul>
                    <li>
                        Маленькие чашки черного кофе (эспрессо,
                        ристретто);<br>
                    </li>
                    <li>
                        Большие чашки черного кофе (лунго, гранде,
                        гранде интенсо, американо);<br>
                    </li>
                    <li>
                        Кофе с молоком (капучино, латте макиато,
                        карамельный латте макиато, кофе с молоком);<br>
                    </li>
                    <li>
                        Десерты (горячий густой шоколад чокочино,
                        горячий густой шоколад со вкусом кармели, Мокко, Несквик).&nbsp;<br>
                    </li>
                </ul><p></p><p class="MsoListParagraph" style="text-indent:-18.0pt;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><o:p></o:p></p><p class="MsoListParagraph" style="text-indent:-18.0pt;mso-list:l0 level1 lfo1"><o:p></o:p></p><p class="MsoListParagraph" style="text-indent:-18.0pt;mso-list:l0 level1 lfo1"><o:p></o:p></p><p class="MsoNormal">







                </p><p class="MsoListParagraph" style="text-indent:-18.0pt;mso-list:l0 level1 lfo1"><o:p></o:p></p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-786"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
    <section id="questions-about-the-capsules" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Вопросы по капсулам">
            Вопросы по капсулам
        </h2>
        <div tabindex="0" id="accordion_msTitle_44" class="title faq-751" "=" ">
            <h3 class="icon">
                <span class="question">Какое количество кофе необходимо на одну чашку? Где я могу приобрести капсулы с кофе?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-751" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_44_msContent" class="content iepadding faq-751">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Из одной капсулы получается одна чашка Эспрессо или Лунго (большая чашка крепкого кофе). Для Капучино, Горячего шоколада, Латте Макиато и других молочных напитков понадобится еще одна капсула с сухим молоком или какао. Упаковки по 16 капсул можно приобрести непосредственно в официальном&nbsp;<a href="https://www.dolce-gusto.ru" title="" target="">Интернет-магазине</a>&nbsp;</span><span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:
Calibri;color:#663D07;mso-ansi-language:RU;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">NESCAFÉ® Dolce Gusto®</span><span style="font-size: 8.5pt; color: rgb(102, 61, 7); line-height: 16px;"><font face="verdana, sans-serif">.</font></span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-751"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_45" class="title faq-752" "=" ">
            <h3 class="icon">
                <span class="question">Могу ли я купить капсулы напрямую у компании «Нестле»? Они доступны в интернете?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-752" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_45_msContent" class="content iepadding faq-752">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Капсулы можно купить напрямую в нашем официальном&nbsp;<a href="https://www.dolce-gusto.ru/flavours" title="" target="">Интернет-магазине</a></span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-752"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_46" class="title faq-753" "=" ">
            <h3 class="icon">
                <span class="question">Планируете ли Вы в будущем производство других капсул?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-753" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_46_msContent" class="content iepadding faq-753">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Существующий <a href="https://www.dolce-gusto.ru/flavours" title="" target="">выбор капсул</a> NESCAFÉ® Dolce Gusto® включает более 20 видов кофе и напитков. Вы можете <a href="https://www.dolce-gusto.ru/customer/account/create/" title="" target="">зарегистрироваться </a>на нашем сайте и подписаться на нашу рассылку для получение новостей о наших новинках и акциях.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-753"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_47" class="title faq-754" "=" ">
            <h3 class="icon">
                <span class="question">Можно использовать капсулы других производителей или только NESCAFÉ® Dolce Gusto® ?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-754" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_47_msContent" class="content iepadding faq-754">
            <div class="faqAnswer">
                <p class="MsoNormal"><span style="color: rgb(102, 61, 7); font-family: Verdana, sans-serif; font-size: 11.3333px;">Уникальная технология «умной капсулы» NESCAFÉ® Dolce Gusto®&nbsp; гарантирует, что вы получите качество, которым известны продукты NESCAFÉ® Dolce Gusto®.&nbsp;</span><br></p><p class="MsoNormal" style="text-align:justify"><span lang="RU" style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><o:p></o:p></span></p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-754"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_48" class="title faq-755" "=" ">
            <h3 class="icon">
                <span class="question">В моей упаковке с капсулами нет капсул с молочной смесью?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-755" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_48_msContent" class="content iepadding faq-755">
            <div class="faqAnswer">
                <span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">Убедитесь, пожалуйста, что выбранный Вами вкус должен содержать капсулы с молочной смесью. Если капсулы с молочной смесью, действительно, отсутствуют, пожалуйста, позвоните в службу поддержки&nbsp;</span><span style="text-align: justify; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">&nbsp;</span><span lang="EN-US" style="text-align: justify; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">NESCAF</span><span style="text-align: justify; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">É®&nbsp;</span><span lang="EN-US" style="text-align: justify; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">Dolce</span><span lang="EN-US" style="text-align: justify; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">&nbsp;</span><span lang="EN-US" style="text-align: justify; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">Gusto</span><span style="text-align: justify; font-size: 8.5pt; font-family: Verdana, sans-serif; color: rgb(102, 61, 7);">®&nbsp;</span><span style="color: rgb(102, 61, 7); font-family: verdana, sans-serif; font-size: 11px; line-height: 16px;">по&nbsp;бесплатному номеру 8-800-700-79-79.</span>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-755"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_49" class="title faq-762" "=" ">
            <h3 class="icon">
                <span class="question">Подходят ли для кофемашин NESCAFÉ® Dolce Gusto® капсулы других производителей или только NESCAFÉ® Dolce Gusto® ?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-762" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_49_msContent" class="content iepadding faq-762">
            <div class="faqAnswer">
                <p class="MsoListParagraph">
                    <span style="font-size:8.5pt;font-family:&quot;Verdana&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#663D07;mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA">
                        Уникальная технология «умной капсулы» NESCAFÉ® Dolce Gusto®&nbsp;
                        гарантирует, что вы получите качество, которым известны продукты NESCAFÉ® Dolce
                        Gusto®.&nbsp;
                    </span><br>
                </p><div>
                    <div>
                        <div id="_com_1" class="msocomtxt" language="JavaScript">

                            <!--[if !supportAnnotations]-->
                        </div>

                        <!--[endif]-->
                    </div>

                </div>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-762"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_50" class="title faq-763" "=" ">
            <h3 class="icon">
                <span class="question">Могу ли я купить пустые и многоразовые капсулы для кофемашины NESCAFÉ® Dolce Gusto®?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-763" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_50_msContent" class="content iepadding faq-763">
            <div class="faqAnswer">
                <p class="MsoListParagraph">
                    <span lang="RU" style="font-size: 8.5pt; line-height: 107%; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        Компания
                        Нестле не производит и не продает пустые и многоразовые капсулы NESCAFÉ® Dolce
                        Gusto®. Капсулы и кофе-машины NESCAFÉ® Dolce Gusto® были созданы для
                        совместного использования. Уникальная технология «умной капсулы» гарантирует,
                        что вы получите качество, которым известны продукты NESCAFÉ® Dolce Gusto®.<o:p></o:p>
                    </span>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-763"></a>
            </span>
        </div>
        <div tabindex="0" id="accordion_msTitle_51" class="title faq-764" "=" ">
            <h3 class="icon">
                <span class="question">Могу ли я утилизировать капсулы Nescafe Dolce Gusto?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-764" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_51_msContent" class="content iepadding faq-764">
            <div class="faqAnswer">
                <p class="MsoNormal" style="text-align:justify">
                    <span lang="RU" style="font-size: 8.5pt; line-height: 107%; font-family: Verdana, sans-serif; color: rgb(102, 61, 7); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        К сожалению, на российском рынке не существует и на данный момент
                        не планируется развитие программы утилизации капсул NESCAFÉ® Dolce Gusto.<o:p></o:p>
                    </span>
                </p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-764"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
    <section id="contactus" class="accordionWrapper">
        <h2 tabindex="0" title="Category: Связаться с нами">
            Связаться с нами
        </h2>
        <div tabindex="0" id="accordion_msTitle_52" class="title faq-761" "=" ">
            <h3 class="icon">
                <span class="question">Как я могу с связаться с интернет-магазином?</span>
                <!--<a class="copy_link sub_hdr" href="https://www.dolce-gusto.ru/faqs/#url-question-761" title="right click to copy link">link</a>-->
            </h3>
        </div>
        <div tabindex="0" id="accordion_msTitle_52_msContent" class="content iepadding faq-761">
            <div class="faqAnswer">
                <font color="#000000" size="3" face="Times New Roman"></font><p style="margin: 0cm 0cm 10pt;" class="MsoNormal"><span style="line-height: 115%; font-family: Arial, sans-serif; font-size: 9pt;">Если у Вас возникли <b>вопросы о работе системы</b> NESCAFÉ® Dolce Gusto®, видах кофе-машин и капсул Вы можете связаться с нами по телефону <strong>8 800 700 79 79.</strong></span></p><p style="margin: 0cm 0cm 10pt;" class="MsoNormal"><span style="line-height: 115%; font-family: Arial, sans-serif; font-size: 9pt;">Если у Вас возникли <b>вопросы и предложения о работе службы доставки</b>, пожалуйста, обращайтесь по телефону <strong>8 800 200 8 100.</strong></span></p><p style="margin: 0cm 0cm 10pt;" class="MsoNormal"><span style="line-height: 115%; font-family: Arial, sans-serif; font-size: 9pt;">Вы также можете связаться с нами заполнив <a title="" href="https://www.dolce-gusto.ru/contact-us/" target="">форму обратной связи</a> на сайте или написав нам на наш адрес электронной почты<strong> </strong><a href="mailto:contact@ru.nestle.com"><strong>contact@ru.nestle.com</strong></a></span></p>
            </div>
        </div>
        <div>
            <span>
                <a id="url-question-761"></a>
            </span>
        </div>
    </section>
    <div tabindex="0" class="top"><a>TOP</a></div>
</div>
