@{
    ViewBag.Title = "Инструкции для кофемашин ";
}
<div style="margin-top:50px;">
    <div class="Red">
        ИНСТРУКЦИИ ДЛЯ КОФЕМАШИН <br>
        NESCAFÉ® DOLCE GUSTO® KRUPS С  <br>
        РУКОВОДСТВОМ ПО ЭКСПЛУАТАЦИИ <br>
    </div>

    <section class="Coffeemachines">

        <div class="CoffeemachinesOutside">
            <p class="Helpful">

                На вашей кухне появилась кофемашина NESCAFÉ® Dolce Gusto®? Как пользоваться новым прибором, вы сможете узнать из руководства по эксплуатации. На сайте представлены простые и понятные инструкции на русском языке ко всем моделям кофемашин, имеющимся в продаже, как механическим, так и автоматическим. Просто выбрав модель кофемашины, вы сможете скачать документы «Руководство пользователя» и «Быстрый старт».  С их помощью легко разобраться с тем, как начать работу с кофемашиной, узнать обо всех нюансах эксплуатации модели и научиться создавать истинные шедевры кофейного искусства!
            </p>
        </div>
    </section>

    <section class="Napitki">
        <ul id="Napitki_unit">
            @foreach (var i in Model)
            {
                <li><a href="@Url.Action("Index", "Home")"> <div><img class="zoom" src="@i.Image" /><div class="HelpText">@i.Name </div>  </div>  </a></li>

            }

        </ul>
    </section>

</div>