@{
    ViewBag.Title = "Знакомство с системой NESCAFÉ® Dolce Gusto®";
}
@section featured {

}
<head>



</head>


<body>
    <div class="Outside">
        <div class="Inside">
            <p class="float-left">

                <h1>СОВРЕМЕННОЕ</h1>
                <h1>ИСКУССТВО КОФЕ</h1>
                <h3>Создание вкусного кофе - это искусство.</h3>
                <br>


                Капсулы и кофе-машины NESCAFÉ® Dolce Gusto®
                позволяют создать множество изысканных напитков,
                в каждом глотке которых непременно раскрываются
                качество и стиль.
                <br><br>
                Будь то ароматный Эспрессо, воздушный Капучино
                или восхитительный шоколад, вкус каждого глотка
                перенесет Вас в любимую кофейню.
                <br><br>
                <h3>Кофе - это высокое искусство.</h3>
            </p>
        </div>

    </div>


</body>