<div class="std">
    <div id="cms-page">
        <div class="cms-inside">
            <h1>Политика ООО «НЕСТЛЕ РОССИЯ» В отношении обработки персональных данных</h1>
            <style>
                .privacy_policy ul {
                    list-style-type: disc;
                    margin-left: 30px;
                }

                    .privacy_policy ul ul {
                        list-style-type: circle;
                    }
            </style>
            <div class="privacy_policy">
                <h2>1. Общие положения</h2>

                <h3>1.1 Назначение документа</h3>

                <p>Политика ООО «Нестле Россия» в отношении обработки персональных данных (далее – Политика) является основополагающим локальным актом компании, регулирующим вопросы обработки персональных данных в ООО «Нестле Россия».</p>
                <p>Настоящая Политика разработана в соответствии с пп.2 ч.1 статьи 18.1 Федерального закона от 27 июля 2006 года №152 «О персональных данных» и предназначена для ознакомления неограниченного круга лиц путём опубликования на веб-сайте ООО «Нестле Россия».</p>
                <p>Политика раскрывает основные категории персональных данных, обрабатываемых в ООО «Нестле Россия», цели, способы и принципы обработки&nbsp;персональных данных, права субъектов персональных данных, а также перечень мер, применяемых ООО «Нестле Россия» в целях обеспечения безопасности персональных данных при их обработке.</p>
                <p>Положения настоящей Политики являются основой для разработки локальных актов компании, регламентирующих вопросы обработки и защиты персональных данных в ООО «Нестле Россия».</p>

                <h3>1.2 Область действия</h3>

                <p>Действие настоящей Политики распространяется на все процессы ООО «Нестле Россия», в рамках которых осуществляется обработка персональных данных, как с использованием средств вычислительной техники, в том числе с использованием информационно-телекоммуникационных сетей, так и без использования таких средств.</p>

                <h3>1.3 Основные понятия</h3>

                <p>В настоящей Политике используются следующие основные понятия:</p>

                <ul>
                    <li>Конфиденциальность персональных данных – обязательное для соблюдения оператором или иным получившим доступ к персональным данным лицом требование не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.<br><br></li>
                    <li>Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br><br></li>
                    <li>Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.<br><br></li>
                    <li>Персональные данные – любая информация, относящаяся прямо или косвенно к определённому или определяемому физическому лицу (субъекту персональных данных).<br><br></li>
                    <li>Субъект персональных данных – физическое лицо, обладающее персональными данными прямо или косвенно его определяющими.<br><br></li>
                    <li>Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому лицу или иностранному юридическому лицу.<br><br></li>
                    <li>Работник – физическое лицо, вступившее в трудовые отношения с ООО «Нестле Россия» на основании трудового договора и на иных основаниях, предусмотренных ст.16 Трудового кодекса Российской Федерации.<br><br></li>
                    <li>Компания / Работодатель –  Общество с ограниченной ответственностью «Нестле Россия».<br><br></li>
                </ul>

                <h3>1.4 Утверждение и пересмотр</h3>

                <p>Настоящая Политика вступает в силу с момента ее утверждения Генеральным директором ООО «Нестле Россия» и действует бессрочно.</p>
                <p>ООО «Нестле Россия» проводит пересмотр положений настоящей Политики и их актуализацию по мере необходимости, но не реже одного раза в три года, а также:</p>
                <ul>
                    <li>при изменении нормативной базы, затрагивающей принципы и (или) процессы обработки персональных данных в ООО «Нестле Россия»;<br><br></li>
                    <li>при создании новых или внесении изменений в существующие процессы обработки персональных данных.<br><br></li>
                </ul>

                <h2>2. Цели сбора и обработки персональных данных</h2>

                <p>С целью поддержания деловой репутации и обеспечения выполнения требований Федерального закона от&nbsp;27.07.2006 №&nbsp;152-ФЗ «О персональных данных» и принятых в соответствии с ним нормативных правовых актов, ООО «Нестле Россия», являясь оператором персональных данных с соответствующими правами и обязанностями, обеспечивает правомерность обработки персональных данных, а также надлежащий уровень безопасности обрабатываемых персональных данных.</p>
                <p>Обработка персональных данных в ООО&nbsp;«Нестле Россия» осуществляется на законной и справедливой основе и ограничивается достижением конкретных, заранее определенных и законных целей. Обработке подлежат только персональные данные, которые отвечают целям их обработки. Содержание и объем обрабатываемых персональных данных соответствуют заявленным целям обработки, избыточность обрабатываемых данных не допускается.</p>
                <p>При обработке персональных данных ООО «Нестле Россия» обеспечивается точность персональных данных, их достаточность и, в необходимых случаях, актуальность по отношению к целям обработки персональных данных. ООО «Нестле Россия» принимает и обеспечивает принятие необходимых мер по удалению или уточнению неполных или неточных персональных данных.</p>
                <p>ООО «Нестле Россия» в рамках выполнения своей основной деятельности осуществляет обработку персональных данных своих работников; родственников работников; соискателей на вакантные должности в ООО «Нестле Россия», а также соискателей в кадровом резерве; контрагентов ООО «Нестле Россия», а также лиц представляющих контрагентов ООО «Нестле Россия»; клиентов и участников рекламных и иных мероприятий, направленных на продвижение продукции Nestle, организуемых и (или) проводимых ООО «Нестле Россия»; посетителей сайтов ООО «Нестле Россия»; медицинских работников – получателей информации о продукции Nestle; посетителей офиса ООО «Нестле Россия», его структурных подразделений (включая производственные, торговые филиалы и другие обособленные подразделения ООО «Нестле Россия»).</p>
                <p>Обработка персональных данных вышеперечисленных субъектов персональных данных ведется ООО «Нестле Россия» в следующих целях:</p>

                <ul>
                    <li>
                        персональных данных работников ООО «Нестле Россия», в том числе уволенных:<br><br>
                        <ul>
                            <li>с целью заключения, сопровождения, изменения, расторжения трудовых договоров, которые являются основанием для возникновения или прекращения трудовых отношений между работниками и работодателем;<br><br></li>
                            <li>с целью исполнения работодателем обязательств, предусмотренных локальными нормативными актами, трудовыми договорами, федеральным законодательством и иными нормативными правовыми актами, в том числе в целях ведения кадрового и бухгалтерского учета, составления налоговой и другой обязательной для работодателя отчетности;<br><br></li>
                            <li>с целью содействия работникам в обучении и продвижения по службе;<br><br></li>
                            <li>с целью заключения, изменения, расторжения договоров добровольного медицинского страхования и договоров страхования жизни;<br><br></li>
                            <li>с целью обеспечения личной безопасности работников, контроля количества и качества выполняемой работниками работы, обеспечения сохранности имущества.<br><br></li>
                        </ul>
                    </li>
                    <li>
                        персональных данных родственников работников ООО «Нестле Россия»:<br><br>
                        <ul>
                            <li>с целью исполнения ООО «Нестле Россия» обязательств, предусмотренных федеральным законодательством (получение алиментов, оформление социальных выплат, пособий);<br><br></li>
                            <li>с целью обеспечения соответствующих страховых выплат при наступление страхового события в результате несчастного случая при назначении таких родственников выгодоприобретателем;<br><br></li>
                            <li>с целью заключения, изменения, расторжения договоров добровольного медицинского страхования родственников работников;<br><br></li>
                            <li>с целью обеспечения визового и миграционного сопровождения членов семей иностранных работников, являющихся высококвалифицированными специалистами<br><br></li>
                        </ul>
                    </li>
                    <li>
                        персональных данных соискателей на вакантные должности в ООО «Нестле Россия», а также соискателей в кадровом резерве ООО «Нестле Россия»:<br><br>
                        <ul>
                            <li>с целью рассмотрения резюме и подбора кандидатов на вакантную должность для дальнейшего трудоустройства в ООО «Нестле Россия»;<br><br></li>
                            <li>с целью ведения кадрового резерва ООО «Нестле Россия»;<br><br></li>
                            <li>с целью получения иной информации о соискателе на вакантную должность в ООО «Нестле Россия».<br><br></li>
                        </ul>
                    </li>
                    <li>
                        персональных данных контрагентов ООО «Нестле Россия», а также лиц, представляющих контрагентов ООО «Нестле Россия»:<br><br>
                        <ul>
                            <li>с целью заключения, изменения, расторжения договоров, а также выполнения обязательств по заключенным договорам;<br><br></li>
                            <li>с целью соблюдения и (или) исполнения процедур и действий, предусмотренных локальными нормативными актами и (или) законодательством Российской Федерации, в том числе в целях ведения бухгалтерского учета, составления налоговой отчетности.<br><br></li>
                        </ul>
                    </li>
                    <li>
                        персональных данных клиентов, посетителей сайтов ООО «Нестле Россия», участников рекламных и иных мероприятий, направленных на продвижение продукции Nestle, организуемых и (или) проводимых ООО «Нестле Россия»:<br><br>
                        <ul>
                            <li>с целью сбора информации о потребителях продукции Nestle, мнении потребителей о продукции Nestle, в частности о ее качестве;<br><br></li>
                            <li>с целью распространения информации о продукции Nestle;<br><br></li>
                            <li>с целью информирования участников о продукции Nestle, а также о мероприятиях, проводимых и (или) организуемых ООО «Нестле Россия»;<br><br></li>
                            <li>с целью персонализации и повышения качества обслуживания на наших веб-сайтах (для обеспечения оптимизации контента Веб-сайтов/приложений под пользователя и его компьютер или устройство), а также для предоставления ему возможности использования интерактивных функций (по его желанию);<br><br></li>
                            <li>с целью обслуживания клиентов, выполнения заказов, предоставления ответов на запросы клиентов.<br><br></li>
                        </ul>
                    </li>
                    <li>персональных данных медицинских работников – получателей информации о продукции Nestle с целью своевременного информирования медицинских работников о показателях качества, эффективности и безопасности, а также предоставления иной информации о продукции Nestle;<br><br></li>
                    <li>персональных данных посетителей с целью пропуска посетителей на территорию офиса ООО «Нестле Россия», его структурных подразделений (включая производственные, торговые филиалы и другие обособленные подразделения ООО «Нестле Россия»).<br><br></li>
                </ul>

                <h2>3. Правовые основания обработки персональных данных</h2>

                <p>Основания обработки персональных данных субъектов персональных данных в ООО «Нестле Россия» следующие:</p>

                <ul>
                    <li>обработка персональных данных работников осуществляется с письменного согласия работника на обработку его персональных данных, трудового договора, стороной которого является работник, а также на основании трудового, социального и пенсионного законодательства, Налогового кодекса Российской Федерации и Федерального закона от 21.11.1996 № 129-ФЗ «О бухгалтерском учете»;<br><br></li>
                    <li>обработка персональных данных уволенных работников осуществляется согласно подп. 5 п. 3 ст. 24 Налогового кодекса Российской Федерации и статьи 17 Федерального закона от 21.11.1996 № 129-ФЗ «О бухгалтерском учете», статьи 62 Трудового Кодекса Российской Федерации, а также согласно п.3. ст.3. ФЗ от 22.10.2004 N 125-ФЗ «Об архивном деле в Российской Федерации»;<br><br></li>
                    <li>обработка персональных данных родственников работников предусмотрена Трудовым и Налоговым Кодексом Российской Федерации (получение алиментов, оформление социальных выплат), унифицированной формой № Т-2, утвержденной постановлением Госкомстата Российской Федерации от 05.01.2004 № 1 «Об утверждении унифицированных форм первичной учетной документации по учету труда и его оплаты», Федеральным законом от 25.07.2002 N 115-ФЗ, «О правовом положении иностранных граждан в Российской Федерации» и письменным согласием родственника работника (оформление договоров добровольного медицинского страхования);<br><br></li>
                    <li>обработка персональных данных соискателей на вакантные должности в ООО «Нестле Россия» осуществляется по инициативе соискателя для заключения с ООО «Нестле Россия» договора и письменного согласия соискателя на обработку его персональных данных, подписываемого при прохождении очного собеседования в ООО «Нестле Россия»;<br><br></li>
                    <li>обработка персональных данных соискателей в кадровом резерве ООО «Нестле Россия» осуществляется на основании письменного согласия соискателя в кадровом резерве;<br><br></li>
                    <li>обработка персональных данных контрагентов, лиц, представляющих контрагентов ООО «Нестле Россия», осуществляется на основании договоров между контрагентами и ООО «Нестле Россия» в соответствии с Гражданским кодексом РФ;<br><br></li>
                    <li>обработка персональных данных клиентов, посетителей сайтов ООО «Нестле Россия», участников рекламных и иных мероприятий, направленных на продвижение продукции Nestle, организуемых и (или) проводимых ООО «Нестле Россия» осуществляется с согласия клиента/посетителя/участника, даваемого при регистрации на сайтах ООО «Нестле Россия», с письменного согласия участника при заполнении регистрационных форм в магазинах;<br><br></li>
                    <li>обработка персональных данных медицинских работников – получателей информации о продукции Nestle – производится с согласия медицинских работников.<br><br></li>
                </ul>

                <h2>4. Объем и категории обрабатываемых персональных данных</h2>

                <p>ООО «Нестле Россия» осуществляет обработку следующих категорий персональных данных: </p>

                <ul>
                    <li>персональных данных работников: фамилия, имя, отчество, контактные данные, сведения о документе, удостоверяющем личность, дата рождения, пол, место рождения, фотография, сведения об адресе, сведения об образовании, сведения о владении иностранными языками, сведения о профессиональном опыте работы, сведения о трудовом стаже, сведения о приеме / увольнении / кадровом перемещении, сведения о характере работы, сведения о должности, сведения о квалификационной категории, сведения об окладе, сведения о доходах, сведения о поощрениях и удержаниях, сведения о рабочем времени, сведения о командировках, сведения об отпусках, сведения о временной нетрудоспособности, сведения о банковском счете и / или платежной карте, сведения о выплатах в ФНС России и ФСС России, в пенсионные фонды, сведения о пенсионном страховании, в том числе данные ИНН и СНИЛС, сведения о социальных льготах, сведения о гражданстве, сведения о статусе налогоплательщика, сведения о миграционной карте и о разрешении на работу, сведения об адресе, сведения о семейном положении, сведения о составе семьи, сведения о воинской обязанности, сведения о водительском удостоверении, сведения о недвижимости в собственности, наименования организаций, руководителем или учредителем которых является субъект, сведения из ФССП, пол, возраст, сведения о прохождении стажировки, сведения о прохождении практики, сведения о заграничном паспорте, место работы, сведения о количестве детей, сведения о звонках, совершенных работниками, сведения о совершенных покупках работниками, сведения о результатах тестирования, сведения об опыте работы и трудовом стаже, сведения об иммигрантском сертификате, специализация, сведения об испытательном сроке;<br><br></li>
                    <li>персональных данных соискателей на вакантную должность: фамилия, имя, отчество; дата и место рождения; контактные данные (адрес электронной почты, номер мобильного телефона); сведения об адресе регистрации / адресе фактического проживания / месте пребывания; сведения о документе, удостоверяющем личность (наименование документа, серия и номер, когда и кем выдан); сведения о гражданстве; сведения о семейном положении, составе семьи и близких родственников (в том числе бывших); сведения об образовании (уровень образования, наименование учебного заведения и факультета, период обучения, форма обучения, специальность, квалификация, реквизиты документа об образовании, сведения о дополнительном образовании, сертификации); сведения об опыте работы и трудовом стаже (места работы, занимаемые должности, период работы, стаж, основания приема и увольнения); сведения о квалификационной категории (разряд/класс (квалификация)); информация о владении иностранными языками, степень владения; сведения о конфликте интересов, сведения о доходах; результаты, полученные с помощью тестов способностей и опросников компании "Нестле Россия"; наименование организаций, учредителем которых является Кандидат; данные личностного опросника; пол, возраст; сведения о результатах тестирования; сведения об опыте работы и трудовом стаже; место работы; специализация;<br><br></li>
                    <li>персональных данных родственников работников: фамилия, имя, отчество, дата рождения, степень родства, сведения о документе, удостоверяющем личность, контактные данные; сведения об иммигрантском сертификате;<br><br></li>
                    <li>персональных данных клиентов, посетителей сайтов ООО «Нестле Россия», участников рекламных и иных мероприятий, направленных на продвижение продукции Nestle, организуемых и (или) проводимых ООО «Нестле Россия» (фамилия, имя, отчество, адрес регистрации, адрес фактического проживания, сведения о документе, удостоверяющем личность (наименование документа, серия и номер), контактные данные (адрес электронной почты, номер телефона), ИНН, возраст), сведения о стране, откуда звонит клиент, сведения о посещениях;<br><br></li>
                    <li>персональных данных контрагентов ООО «Нестле Россия», а также лиц, представляющих контрагентов ООО «Нестле Россия»: фамилия, имя, отчество, контактные данные, сведения о месте работы, сведения о должности, сведения о документе, удостоверяющем личность.<br><br></li>
                </ul>

                <p>ООО «Нестле Россия» обрабатывает биометрические персональные данные (фотография) работников исключительно с целью организации контрольно-пропускного режима.ООО «Нестле Россия» собирает данные посетителей офиса: фамилия и инициалы, исключительно с целью организации контрольно-пропускного режима.ООО «Нестле Россия» осуществляет обработку следующих данных о посетителях веб-сайтов компании:</p>

                <ul>
                    <li><b><i>Техническая информация о компьютере/мобильном устройстве.</i></b> Любая информация о компьютерной системе или другом техническом устройстве, который используется для посещения одного из веб-сайтов ООО «Нестле Россия» (например, IP-адрес (адрес Интернет-протокола), используемый для подключения компьютера или устройства пользователя к Интернету, тип операционной системы, тип и версия веб-бразуера). Если клиент заходит на Веб-сайт через мобильное устройство, например, смартфон, получаемая информация также будет включать (в установленных случаях) уникальный идентификатор устройства, рекламный идентификатор, геолокационные данные и другие аналогичные данные о мобильном устройстве;<br><br></li>
                    <li><b><i>Информация об использовании веб-сайтов/сообщений.</i></b> По мере того, как пользователь просматривает веб-сайты ООО «Нестле Россия» или сообщения, собираются определенные данные о его действиях с использованием автоматических технологий сбора данных. Среди таких данных ссылки, на которые нажимает посетитель сайта, страницы или контент, которые он просматривает, время, в течение которого он просматривает страницу/контент, а также другая аналогичная информация и статистика о посещении страницы, например, время отклика контента, ошибки загрузки и продолжительность посещения некоторых страниц. Данная информация фиксируется с помощью автоматических технологий, таких как файлы cookies (файлы cookies браузера, файлы flash cookies) и веб-маяки, а также собирается с использованием сторонних сервисов отслеживания (таких как Google Analytics, Яндекс.Метрика, Weborama).<br><br></li>
                </ul>

                <p>В ООО «Нестле Россия» не осуществляется обработка персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений и интимной жизни.</p>

                <p>Обработка персональных данных, касающихся состояния здоровья, осуществляется в случае получения согласия от субъекта персональных данных на обработку указанных данных, либо в иных случаях, прямо предусмотренных действующим законодательством Российской Федерации.</p>

                <h2>5. Порядок и условия обработки персональных данных</h2>

                <p>ООО «Нестле Россия» при сборе персональных данных обеспечивает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) и извлечение персональных данных с использованием баз данных, находящихся на территории Российской Федерации.</p>

                <p>ООО «Нестле Россия» в ходе своей деятельности поручает обработку персональных данных третьим лицам с согласия субъектов персональных данных, если иное не предусмотрено действующим законодательством Российской Федерации, при обязательном условии соблюдения лицом, осуществляющим обработку персональных данных по поручению ООО «Нестле Россия», принципов и правил обработки и обеспечения безопасности персональных данных, установленных законодательством Российской Федерации.</p>

                <p>В поручении на обработку персональных данных в обязательном порядке определяются:</p>

                <ul>
                    <li>перечень действий с персональных данных, которые будут совершаться лицом, осуществляющим обработку персональных данных, при этом перечень действий не должен противоречить целям и действиям, заявленным перед субъектом персональных данных в договоре с оператором, согласии и т. п. документах;<br><br></li>
                    <li>цели обработки, при этом цели не должны противоречить целям, заявленным перед субъектом персональных данных в договоре с оператором, согласии и т. п. документах;<br><br></li>
                    <li>обязанность такого лица соблюдать конфиденциальность персональных данных и обеспечивать безопасность персональных данных при их обработке;<br><br></li>
                    <li>требования к защите персональных данных (требования по защите, предъявляемые к лицу, осуществляющему обработку, не должны быть выше требований, выполняемых самим оператором).<br><br></li>
                </ul>

                <p>ООО «Нестле Россия» не размещает персональные данные субъекта персональных данных в общедоступных источниках без его предварительного согласия.</p>

                <p>ООО «Нестле Россия» в ходе своей деятельности осуществляет трансграничную передачу персональных данных юридическим лицам на территории иностранных государств. При этом вопросы обеспечения адекватной защиты прав субъектов персональных данных и обеспечения безопасности их персональных данных при трансграничной передаче являются приоритетом для ООО «Нестле Россия», решение которых реализуется в соответствии с законодательством Российской Федерации в области защиты персональных данных.</p>

                <p>Трансграничная передача персональных данных на территорию иностранных государств, не обеспечивающих адекватной защиты прав субъектов персональных данных, осуществляется только в случаях наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных; исполнения договора, стороной которого является субъект персональных данных; а также иных предусмотренных законодательством случаях. В целях обеспечения адекватной защиты персональных данных ООО&nbsp;«Нестле Россия» проводит оценку вреда, который может быть причинен субъектам персональных данных в случае нарушения безопасности их персональных данных, а также определяет актуальные угрозы безопасности персональных данных при их обработке в информационных системах персональных данных.</p>

                <p>С целью обеспечения безопасности персональных данных при их обработке ООО&nbsp;«Нестле Россия» принимает необходимые и достаточные правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.</p>

                <p>ООО «Нестле Россия» добивается того, чтобы все реализуемые мероприятия по организационной и технической защите персональных данных осуществлялись на законных основаниях, в том числе в соответствии с требованиями законодательства Российской Федерации по вопросам обработки персональных данных.</p>

                <p>Руководство ООО&nbsp;«Нестле Россия» осознает важность и необходимость обеспечения безопасности персональных данных и поощряет постоянное совершенствование системы защиты персональных данных, обрабатываемых в рамках выполнения основной деятельности компании.</p>

                <p>В ООО&nbsp;«Нестле Россия» назначены лица, ответственные за организацию обработки и обеспечение безопасности персональных данных.</p>

                <p>Каждый новый работник ООО&nbsp;«Нестле Россия», непосредственно осуществляющий обработку персональных данных, подлежит ознакомлению с требованиями законодательства Российской Федерации по обработке и обеспечению безопасности персональных данных, с настоящей Политикой и другими локальными актами компании по вопросам обработки и реализации требований к защите персональных данных и несет ответственность за их соблюдение.</p>

                <p>Хранение персональных данных осуществляется компанией ООО&nbsp;«Нестле Россия» в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом.</p>

                <h2>6. Обработка запросов субъектов персональных данных</h2>

                <p>Для обеспечения соблюдения установленных законодательством прав субъектов персональных данных, в ООО&nbsp;«Нестле Россия» разработан и введён порядок работы с обращениями и запросами субъектов персональных данных, а также порядок предоставления субъектам персональных данных информации, установленной законодательством РФ в области персональных данных.</p>

                <p>Данный порядок обеспечивает соблюдение следующих прав субъекта персональных данных:</p>

                <ul>
                    <li>
                        право на получение информации, касающейся обработки персональных данных соответствующего субъекта персональных данных, в том числе содержащей:<br><br>
                        <ul>
                            <li>подтверждение факта обработки персональных данных;<br><br></li>
                            <li>правовые основания и цели обработки персональных данных;<br><br></li>
                            <li>цели и применяемые ООО&nbsp;«Нестле Россия» способы обработки персональных данных;<br><br></li>
                            <li>наименование и место нахождения ООО&nbsp;«Нестле Россия», сведения о лицах (за исключением работников ООО&nbsp;«Нестле Россия»), которые имеют доступ к персональных данных или которым могут быть раскрыты персональные данные на основании договора с ООО&nbsp;«Нестле Россия» или на основании иных требований Федерального закона РФ от 27.07.2006 №152-ФЗ «О персональных данных»;<br><br></li>
                            <li>обрабатываемые персональные данные, относящиеся к соответствующему субъекту персональных данных, источник их получения, если иной порядок представления таких персональных данных не предусмотрен Федеральным законом РФ от 27.07.2006 №152-ФЗ «О персональных данных»;<br><br></li>
                            <li>сроки обработки персональных данных, в том числе сроки их хранения;<br><br></li>
                            <li>порядок осуществления субъектом персональных данных прав, предусмотренных Федеральным законом РФ от 27.07.2006 №15-ФЗ «О персональных данных»;<br><br></li>
                            <li>информацию об осуществляемой или о предполагаемой трансграничной передаче персональных данных;<br><br></li>
                            <li>наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению ООО&nbsp;«Нестле Россия», если обработка поручена или будет поручена такому лицу;<br><br></li>
                            <li>иные сведения, предусмотренные Федеральным законом РФ от 27.07.2006 №152-ФЗ «О персональных данных» или другими требованиями законодательства в области персональных данных;<br><br></li>
                        </ul>
                    </li>
                    <li>право на уточнение, блокирование или уничтожение своих персональных данных, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законодательством РФ в области персональных данных меры по защите своих прав.<br><br></li>
                </ul>

                <p>Запрос субъекта персональных данных должен содержать номер основного документа, удостоверяющего личность субъекта персональных данных или его законного представителя, сведения о дате выдачи указанного документа и выдавшем его органе, сведения, подтверждающие участие субъекта персональных данных в отношениях с ООО&nbsp;«Нестле Россия» (номер договора, дата заключения договора, условное словесное обозначение и (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки персональных данных ООО&nbsp;«Нестле Россия», подпись субъекта персональных данных или его представителя, дату обращения.</p>

                <p>Работники ООО&nbsp;«Нестле Россия» не имеют право отвечать на вопросы, связанные с передачей или разглашением персональных данных по телефону или факсу в связи с тем, что в таком случае нет возможности идентифицировать личность обращающегося человека.</p>

                <p>Запросы субъектов должны быть направлены по почте по адресу: ООО «Нестле Россия», 115054, г. Москва, Павелецкая пл., д.2, стр.1.</p>

                <p>ООО «Нестле Россия»</p>

                <p>Январь 2018</p>

                <p>Copyright © 2018. Nestle. All rights reserved</p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var cms_bgs = [
                                                                                                                                            ];

    // call background rotate if multiple backgrounds are set
    if (cms_bgs.length > 1) cmsBackground.init(0);
    </script>
</div>
